[2016-06-09 12:45] kevinchappell opened #2 "Bug: Reordering controls appends field to stage."
Details: On mouseup when sorting controls an element is appended to the stage.
Browser: Firefox 46.0.1

[2016-06-09 13:59] #2 closed, assigned to nobody

[2016-06-21 18:26] albu77 opened #5 "Problem with install"
Dear Kevin
I try to restart with your plugin and follow the Formeo Guidelines but get an error when trying to run the command:
npm install && npm run dev
Find hereafter the npm log
If you could advise me...

[npm-debug.txt](https://github.com/Draggable/formeo/files/326310/npm-debug.txt)

[2016-06-28 01:21] chrisj74 opened #7 "Suggestion: input grids"
Hi,

Appreciate you're still very early stage, but it might be worth considering input grids (a collection of inputs that in the render world allow a submitter to add multiples of the collection). This is a pretty common requirement for data capture and would be a great feature.

Thanks for all the work, looking good so far.

[2016-06-28 01:51] kevinchappell commented on #7
I like the sound of this and think the module may already support it but could you provide some example to be sure?

Is this similar to input groups or add-ons in bootstrap or more like a rating grid?

[2016-06-28 05:58] chrisj74 commented on #7
More like a bootstrap input group. Let me give you a real example, if a form is collecting travel details it could ask you to list all the people in a group. This would involve providing name and age of each, n number. So the form would have a collection of person (constituting of 2 inputs, name and age), someone completing the form would see one collection visible, but would be able to click a bu

[2016-06-28 09:48] kevinchappell commented on #7
Ah I see, thank you for the explanation. That's a great feature I completely overlooked but actually shouldn't be too difficult to add. I think a checkbox setting in the Row and Column edit panels would be the best way to add this control, then visual feedback in the editor indicating the route or column is a collection. The generated form would have the add and remove buttons allowing the user to

[2016-07-13 16:14] ryanyoungsma opened #9 "Documentation"
Good Afternoon,  Would you have any basic documentation on how to specify or add function to the "Save" button as well as adding new controls?

I am also struggling with the svg icons due to the way my program is setup i think.  Is there a way to override the svg and utilize local icons?

[2016-07-14 15:44] kevinchappell commented on #9
@ryanyoungsma I can write some up. There is currently a `formeoUpdate` event and I am adding a `formeoSaved` event. Formeo also has what i'm calling `actions` for now. This allows you to pass handlers for things like adding attributes and checkbox options as well as clearing all fields from the stage. I can add an action hook for the save and other buttons then document how to use it.

What is the

[2016-07-15 20:03] ryanyoungsma commented on #9
Hi Kevin,  Thank you for the response.  The formeoSaved event and action hook would be great.  I am in early stages of evaluation for enhancement to a product and this could fit quite well.  Also if there is something that allows me to add to the input types that would be beneficial.

For now I am not worried about the icons, it might be more about how I had to get this working in our testing envi

[2016-07-26 10:10] kevinchappell commented on #5
Sorry this went unsolved for so long. It turned out I forgot to publish the corresponding version for mi18n, the translation module for formeo. Try again, it should be working now.

[2016-07-26 10:10] #5 closed, assigned to nobody

[2016-07-26 19:42] albu77 commented on #5
Hi, I've tried but still in error . I joined the log file

Regards

Alain
[log.txt](https://github.com/Draggable/formeo/files/384641/log.txt)

[2016-07-27 11:47] kevinchappell commented on #5
I made a slight change to how a dependency was listed. Looking at your npm error log it seems related to git-ssh. If you don't have git ssh access setup on your machine it will throw this error. I have change the dependency to use https instead and made a video demonstrating what install should look like.
https://www.youtube.com/watch?v=Q2WyJ_8aVUs

[2016-07-27 16:05] albu77 commented on #5
When I try as on the video to clone I got

Cloning into : formeo

Permission denied (publickey)

fatal: could not read from remote repository

Please make sure you have the corretc access rights

Regards

Alain

Le 27/07/2016 à 13:47, Kevin Chappell a écrit :

---

L'absence de virus dans ce courrier électronique a été vérifiée par le logiciel antivirus Avast.
https://www.avast.com/antivirus

[2016-08-01 19:56] sheibeck opened #13 "Settings?"
Just curious if the Settings button is currently not ready, or if it's an issue. When I click it, it doesn't do anything. I'm assuming it should (or will) open up some form wide settings that you can specify.

And, on this note, wondering if the settings will be something extendable so adding custom settings to a particular form would be doable.

[2016-08-01 20:34] kevinchappell commented on #13
@sheibeck Yes on both counts. The stage where fields reside will be hidden when form settings panel is open. Custom settings will be defined using the same format as custom fields.

One thing to note is that given the extensibility of this part of the builder, developers should have a whitelist of acceptable settings to check against submitted data before its saved.

[2016-08-02 01:33] sheibeck commented on #13
Awesome! Looking forward to it.

[2016-08-05 10:07] andrewfam opened #14 "Conditional Logic"
Any provision for conditional logic.

ie. if boolean checked show a field

[2016-08-05 11:05] kevinchappell commented on #14
Certainly, yes.

[2016-08-05 12:06] andrewfam commented on #14
Thanks any idea how do i start on this?

[2016-08-05 12:16] kevinchappell commented on #14
sorry I should have elaborated but was on mobile and prematurely pressed "Comment". I meant to say this is certainly in the works but not currently implemented.

If you would like to contribute, the goal is to have conditional logic as one of the field edit panes/tabs and user can select:
- the field(s) that triggers the action (should be filterable list)
- how the action is trigger (ie. valueEqua

[2016-08-06 06:29] andrewfam commented on #14
Ok I don't think my skill level is that good. I'll get a freelancer to tweak it and maybe pass it on.

how do i go about saving the form? $(document).trigger('formeoSaved') this doesn't work

[2016-08-30 13:34] wgstjf opened #15 "Formeo Progress"
Hi,

We are about to start developing a custom plugin that requires a form builder capability.  Formeo looks like it might be the right one for the job but doesn't seem to be quite ready for use yet?  Can you give me any update on when it might be production ready and have documentation available?

Thanks in advance,

Will

[2016-08-30 13:43] kevinchappell commented on #15
Hey Will,
At this point I'm not comfortable giving hard dates but can say the project will be very active for the next few months and documentation should be posted this or next week. Development resumed yesterday after a month long break and will be my primary focus for the foreseeable future.

In the meantime feel free to post specific questions or feedback as they arise.

Regards,
Kevin

[2016-08-30 13:44] wgstjf commented on #15
Thanks Kevin, that's great news and will keep in touch.

Cheers,

Will

[2016-09-09 16:00] rickvian opened #18 "placing item inside another item cause bug"
dragging any controls into another causing error.
and then user unable to drag anything

[2016-09-09 16:09] #18 closed, assigned to nobody

[2016-09-09 16:10] kevinchappell commented on #18
fix released, may need to clear cache to see change in demo

[2016-09-13 08:09] MaxMatloka opened #20 "bower: langs folder not available"
Hi,
First of all I'd like to thank you for all your work. Formeo is a great plugin. I've tried to attach it to my project today but it looks like src folder isn't part of bower pack - `bower install formeo` outputs only dist folder. It basically means that lang folder isn't available and needs to be uploaded separately. Is it an issue or this is what you intended?

Thank you,
Max

[2016-09-13 08:22] kevinchappell commented on #20
Hey Max,
Thanks for catching that - definitely sounds like an issue to me. I'll post a fix today.

Kevin

[2016-09-15 11:23] kevinchappell opened #21 "Feature: Filterable Stage and Control DOM"
Provide API to filter Controls and other elements in Formeo

[2016-09-15 13:13] kevinchappell opened #22 "Bugfix: Make block html elements editable"
Elements like Header and Paragraph are not editable. These should accept text and be format-able.

[2016-09-15 14:39] derrandz opened #23 "Feature: Angular-ize Formeo"
Any component that has to be rendered to the dom and manipulated should now be a directive, isolate code that is pure logic into services, expose the Angular-ized version through an elegant and extensible API.

Make use of isolated scopes to provide the user with the ability to propagate changes only by supplying parameters.

[2016-09-15 22:41] kevinchappell opened #24 "Chore: rename helpers to utils"

[2016-09-15 22:56] #21 closed, assigned to nobody

[2016-09-27 09:17] wgstjf opened #32 "Intregration into WordPress plugin"
Hi,

I am looking to integrate Formeo into a plugin we are building for a client.  The builder will be in the admin area with the rendering of the form visible to frontend users.

I have enqueued the required scripts and have the form builder visible in the admin area but whenever I click on any Formeo buttons (such as edit field etc) the page reloads....any idea what is causing this?

Thanks in a

[2016-09-27 10:20] kevinchappell commented on #32
Hey Will,
This is a bug I will address today. Thank you for catching this.

Kevin

[2016-09-27 10:39] wgstjf commented on #32
That's great Kevin, thanks!

[2016-09-27 15:13] #32 closed, assigned to nobody

[2016-09-30 21:22] githubLewis opened #35 "Save \ Update examples"
Are there any plans to update the package with onSave \ onUpdate examples? I've tried a few different ways and I can't get it work, does anyone have a working example?

This is what I have currently, but have tried a few different ways;

[code]

[2016-10-10 09:44] derrandz opened #38 "`onUpdate` does not get triggered properly"
The `onUpdate` event does not get triggered when a new element is dropped on the stage unless you add then delete an element.

This bug is replicated in this [codepen](http://codepen.io/anon/pen/WGraNa)

[2016-10-20 10:56] kevinchappell opened #42 "Feature Proposal: `container` option for all sections"
It should be possible to have the different sections (form action buttons, stage, controls etc) added anywhere on the page. This should be definable via a `container` option that accepts either a JS dom object or a selector.

[2016-10-20 10:58] derrandz commented on #42
:+1:

[2016-10-31 13:46] tnory56 commented on #38
FF 49.0.2 Works and logs to console as expected.

[2016-10-31 13:47] kevinchappell commented on #38
@tnory56 :+1:

[2016-10-31 13:47] #38 closed, assigned to nobody

[2016-11-08 14:26] dubcanada opened #46 "Roadmap?"
Hello,

I want to use this for a project and I was wondering if you had a roadmap of ideas until 1.0? I'd like to help where I can, but I don't see any sort of list of things to be done/are done.

Thanks

[2016-11-08 15:10] derrandz commented on #46
:+1:

We should probably think about that @kevinchappell

[2016-11-08 16:13] kevinchappell commented on #46
Agreed. A proper roadmap is needed. Will reference this issue when pushed.

[2016-11-10 15:48] tnory56 commented on #35
Try this:

[code]

[2016-12-16 21:18] eradin opened #47 "Columns"
Kevin, soem feedback.  I've periodically played with the demo and I just can't seem to create columns.  And when I do, it's just plain luck.  Personally, I don't find the columns intuitive.  Is it still a work in progress?  My suggestion is to rework it so it's obvious how to drop a control onto a column.  Perhaps a landing zone on either side of a row.

[2016-12-21 08:06] eradin commented on #47
Update.  Ok, I figured it out.  Still not intuitive to me. I was trying to drag a field to a column without first dropping it on a row (then moving to a column).  I believe most people will want to drag and drop to a column, not drag, drop and move to a column.  I think it makes more sense to drag and drop on the left or right edge of a field.  Just like we insert a row by dragging to the top or b

[2016-12-21 08:06] #47 closed, assigned to nobody

[2016-12-21 22:29] kevinchappell commented on #47
@eradin I couldn't agree more that the columns feature needs reworking. Future versions will allow dropping columns and layout templates from the control bar.

Thanks for your input, it's really appreciated.

[2017-01-10 14:17] jvm985 opened #49 "values for fields other than text not sent"
Hi ,
in the onSave event I json all formData to the server. This works fine, but it seems that only the values of text fields are being sent. Other field types have no 'value' index in field->attrs[].

Joachim

[2017-01-17 14:57] onyekaa commented on #9
Hi. Is it possible to get a list of all options? Like in the form, there's something called Layout Preset but I'm not sure how to add more. Also need info on the columns. I thought I had it figured out, but it doesn't seem to work half the time so perhaps I'm not doing it right.

[2017-02-01 15:07] kevinchappell opened #50 "Radio Groups do not have a label"
This issue should be addressed in 2 parts.

1. Individual options have their own correct label, however even when defining a label for the field in `config.label` of field config object, it still does not appear.
2. Adding an empty `options` to a field config object should create the options panel without options. Currently it causes an error.

[2017-02-01 15:08] kevinchappell commented on #49
@jvm985 could you share a config or create a jsfiddle so that I may test? Are you saying only text inputs are included in the response from the onSave event?

[2017-02-01 15:10] #35 closed, assigned to nobody

[2017-02-09 13:23] jvm985 commented on #49
Exactly. I'll create a fiddle asap.

[2017-02-11 21:32] jvm985 commented on #49
https://jsfiddle.net/jvm985/tkof5smc/

to reproduce: create a text and a textarea. onSave, in the console the formData object contains rows->columns->fields->attributes->value for the text input, but not for the textarea.

[2017-02-12 13:19] onyekaa commented on #46
I'd like to help as well. I recently had to use this plugin because it's the only form-builder I could find that one could arrange in columns, and made a few modifications to fill functionality gaps so it would be nice to do that properly.

[2017-03-16 08:54] jessicaliang opened #56 "formeo errors out when there are more than 4 colums in a single row"
Steps to reproduce:
1. Add 5 or more form elements to stage
2. Drag them into the same row

<img width="1799" alt="screenshot 2017-03-16 at 1 51 28 am" src="https://cloud.githubusercontent.com/assets/6776859/23988413/607bda52-09eb-11e7-8626-fb7d3c4cfb24.png">

[2017-03-28 06:15] onyekaa commented on #38
This does not work for me anymore either. I updated the JS yesterday, for the first time since December and the `onUpdate` event no longer fires.

[2017-03-30 01:36] #56 closed, assigned to nobody

[2017-03-30 01:43] kevinchappell commented on #49
this appears to be resolved now

[2017-03-30 01:43] #49 closed, assigned to nobody

[2017-03-30 01:44] kevinchappell commented on #22
fixed

[2017-03-30 01:44] #22 closed, assigned to nobody

[2017-03-30 01:45] kevinchappell commented on #7
for reference, this has been implemented and is called Input Groups.

[2017-03-30 01:45] #7 closed, assigned to nobody

[2017-03-31 17:32] #15 closed, assigned to nobody

[2017-04-14 10:54] kevinchappell commented on #50
Fixed

![2017-04-14-115313_515x229_scrot](https://cloud.githubusercontent.com/assets/1457540/25041597/03ddefc6-2109-11e7-9a23-1a7526297628.png)

[2017-04-14 10:54] #50 closed, assigned to kevinchappell

[2017-06-07 11:51] sheibeck opened #84 "IE 11 - Object doesn't support this action"
When instantiating formeo in IE 11 I get an "Object doesn't support this action" error. formeo.min.js (6,37350).

[2017-06-07 11:54] kevinchappell commented on #84
events.js needs a wrapper similar to the one in formBuilder https://github.com/kevinchappell/formBuilder/blob/master/src/js/events.js

[2017-06-07 15:45] sheibeck opened #85 "Radio/Checkbox Group Class attribute?"
I added a new attribute with the name "class" to a radio and checkbox group, but it doesn't appear to add the attribute to the inputs.

Edit: it appears to not add any attribute to the input, no matter what I name it.

[2017-07-07 16:06] lscavelli opened #86 "Id duplication in creating CheckBox"
When inserting several options in the **checkbox** field, these html elements assume the same ID (error) with obvious error when loading initial values or error while saving data.
You need to generate different IDs for each checkbox you have entered

I apologize for English, I used an automatic translator
Luigi Scavelli

[2017-07-12 05:29] antajo opened #87 "Please add signature component"

[2017-07-12 10:18] emailfourm450 opened #88 "FormBulider feaures not working with formeo"
Can I use formBuilder features as (add custom control rate  control ) in formeo plugin?
I tried to do but it is noot working

[2017-08-10 10:04] vikramIde opened #89 "Uncaught (in promise) TypeError: __WEBPACK_IMPORTED_MODULE_1_formeo___default.a is not a constructor"
Hello guys,

Trying to import formeo through npm and use its throwing error

here is the code

[code]

**Error**
[code]

@kevinchappell

[2017-08-11 05:59] vikramIde commented on #89
When I tried this

[code]

I am getting this error

[2017-08-11 07:55] vikramIde commented on #89
Fixed it ,

Just call the plugin like this

`import '../assets/formeo.min.js'`

and if you are using eslint it will throw error so declare a global

`/* global Formeo */` like this

[2017-08-11 07:55] #89 closed, assigned to nobody

[2017-09-07 11:09] Hawkeye1909 opened #91 "Row: fieldset checkbox not visible/clickable"
The checkbox to set the fieldset option of a row is not visible and thus the option can't be activated. The changes in #75 should be the cause. The checkbox within an input group have to be excluded from them or at least overwritten. The follwing styles are needed to show them:
`opacity: 1; width: auto; position: static`

[2017-09-26 09:52] shabaz-ejaz opened #92 "How do you use this with React?"
It's not quite clear how we should start importing this package, the only place it mentions it is here:

There is no `formeo.min.css` file in the project and the `formeo.min.js` file is in the demo folder.

Can you please provide some clear instructions on how to get this set up as the folder structure is quite confusing.

Thanks

[2017-09-26 10:05] shabaz-ejaz commented on #92
![2017-09-26_11h05_00](https://user-images.githubusercontent.com/29374282/30854756-8ade51b4-a2aa-11e7-950a-42d86203318e.png)

After installing through npm, there is no css file.

[2017-09-26 10:10] kevinchappell commented on #92
styles are injected with plugin. You will need to wrap the module in a react component and initialize it in `componentDidMount` lifecycle method since formeo requires the `window` object.

[2017-09-26 10:13] shabaz-ejaz commented on #92
I have it in a component like this:

[code]
But I get this:

[2017-09-26 11:01] guillermofr opened #93 "is it possible to setData like formbuilder?"
i dont find how to load a created form to edit it, is it possible to do with formeo?

[2017-09-26 11:02] kevinchappell commented on #92
Webpack 2+ you should be using `!raw-loader` but you don't need the stylesheet anymore.
In your code you can completely remove the css import and the style tag

Where did you find that example code?

[2017-09-26 11:07] shabaz-ejaz commented on #92
If I remove the css then it wont have any styling and the icons  / colours / backgrounds wont show. Here is what it looks like at the moment:
![2017-09-26_12h06_59](https://user-images.githubusercontent.com/29374282/30857323-35009f28-a2b3-11e7-9f8e-93a19d09dc25.png)

I found the example on the chat feature on the demo page: https://draggable.github.io/formeo/. It was actually yourself who posted i

[2017-09-26 11:09] shabaz-ejaz commented on #92
![2017-09-26_12h09_21](https://user-images.githubusercontent.com/29374282/30857420-8ca4f13e-a2b3-11e7-84d1-c450d0054c31.png)

[2017-09-26 11:12] kevinchappell commented on #92
Hmm interesting. I must have written that and forgotten.

Anyhow styling looks like its working ok, only the icons are missing. In the config/options for the module you need to change `svgSprite` to point to the location of the icon sprite. This can be relative or absolute location like `https://draggable.github.io/formeo/assets/img/formeo-sprite.svg`. At some point I'll bundle icons with the modu

[2017-09-26 11:16] shabaz-ejaz commented on #92
You've sent me a link to a logo. Would it be possible to link to the sprite?

[2017-09-26 11:17] kevinchappell commented on #92
ah, so i did. https://draggable.github.io/formeo/assets/img/formeo-sprite.svg

Also corrected original comment

[2017-09-26 11:18] shabaz-ejaz commented on #92
Perfect. Think its all working now. Thanks

[2017-09-26 11:19] #92 closed, assigned to nobody

[2017-09-26 11:55] shabaz-ejaz opened #94 "How do the events work?"
Sorry to be asking obvious questions but I'm not quite sure how the onSave event works and where to put it exactly. Can you show me an example of the onSave function that shows the data?

This is how I have done it:
[code]

But it doesn't do anything at all.

[2017-09-26 12:03] guillermofr commented on #93
i saw your post about setting a second parameter on constructor to load data.
But this fails if you make a second call of formeo, the first time is OK

Uncaught (in promise) TypeError: Cannot set property 'innerHTML' of null

Im doing something like this
this.formeo = new window.Formeo(this.formeo_options, this.saved_data);

any tip of load a second time?, i need to reset to defaults the form

[2017-09-27 11:02] guillermofr opened #95 "disable elements does not work"
hi, i try to disable elements from common doing this

[code]
But i get an error

[code]
any help with this?

[2017-10-02 21:49] sheibeck commented on #93
You should be able to render a formeo form by calling:

[code]

I use

[code]
To save and the form data and I store it in a DB (this is what would go in <formeoFormJson> above). So, you really are just passing around a JSON object.

I'm using formeo to run my website and it's simple and fast. You can view my code [here](https://github.com/sheibeck/theprocurator) if you want to take a look at how I

[2017-10-03 11:14] guillermofr commented on #93
can you call a second time the function tpn_charsheet.initFormeo, of your code @sheibeck, to check if formeo crashes to you too when you init formeo while a formeo instance is loaded?

i can load data perfectly first time, the problem is loading a second time to reset the form without reloading the page.

[2017-10-03 13:02] sheibeck commented on #93
I hadn't tried reloading the form without reloading the page since that
isn't part of the architecture I need at the moment. I'll give it a shot
and let you know.

On Tue, Oct 3, 2017 at 7:14 AM Guillermo Fernández <notifications@github.com>
wrote:

[2017-10-03 20:27] sheibeck commented on #93
After the initial call to initFormeo(), if I call it again i get:

[code]

So, no, I'm not able to call it a second time. But, I also only have the minified version of formeo, so it's hard to tell if it's really an issue with formeo, or the way I have my architecture set up.

[2017-10-04 07:29] MahdiRadcom opened #96 "Having "row" control in jQuery Formbuilder"
Hi,
I want to have control grouping ability in jQuery formbuilder something like "row" control in formeo. How can I use "row" in jquery formbuilder? Is it possible to move it there? because it is like architectures are different.

[2017-10-04 12:05] guillermofr commented on #93
that is the issue xD

thanks to confirm the same error

[2017-10-08 05:16] MahdiRadcom commented on #96
Thanks for your quick response. :(

[2017-11-10 13:54] apmyp1990 opened #97 "Missing files when using with yarn"
Hi,
I have added this package via yarn, but it only provides the formeo.min.js and no css-file, as you can see in the picture. Am I missing something?

Please help.

Regards,
apmyp1990
![formeo](https://user-images.githubusercontent.com/20161590/32661375-042216ec-c627-11e7-9c4b-cff47625bb89.jpg)

[2017-11-10 15:41] kevinchappell commented on #97
That is the only required file now, styles are now injected by the module

[2017-11-10 18:13] apmyp1990 commented on #97
Thank you for your fast reply. So what is the right way to use the module? I have pulled in the formeo.min.js, but what I see is the module without icons.

[2017-11-13 07:43] apmyp1990 commented on #97
I solved the problem by doing the following:
`new Formeo({ 	container: '.build-form',
    					svgSprite: 'js/formeo-sprite.svg' });`

But the formeo-sprite.svg file is not included in the yarn package, so I have to download it manually from github.

[2018-01-10 17:44] henriquehf opened #98 "Add new "blocks"?"
So, is there a way to add new "blocks" to the form builder, with input types not in it? And if so, is it possible to add a bock that has 2 or more inputs? For example, a single block that has username and password. And finally, is it possible to disable existing input types?
Thanks!

[2018-01-23 12:24] santosh-k1 commented on #93
we can load the data on-page load by using below concepts
[code]
`var formeoNew = new Formeo(formeoOpts, JSON.stringify(formJSONData));`

[2018-02-05 06:25] jonamariya opened #99 "How to edit attribute's label ?"
Currently attribute's label is displayed as attrs.attributeName . Is there a way to edit the Label?And I need to add some additional parameters to the attrs as well like 'type','multiple'
{
  "tag": "select",
  "attrs": {
	"type": "select",
	"value": "",
	"formElementId": "296",
        ..
  }
}

![image](https://user-images.githubusercontent.com/22929608/35790905-a24d0b36-0a94-11e8-9b97-4eee10eb1

[2018-02-06 00:05] jonamariya commented on #94
You should move onSave inside events sections like this
const options = {
            i18n: {
            },
            events: {
                onSave: (evt) => {console.log('saving::'+this.formeo.formData)},
            }
}

[2018-02-06 02:51] jonamariya commented on #93
@guillermofr @sheibeck did you guys found a way for reloading the editor without refreshing the page?

[2018-03-08 23:53] ryleeferguson commented on #93
@jonamariya @sheibeck @guillermofr I ran into this issue yesterday and was able to get it working.
It seems that somewhere in the code, the `container` property gets unset in the options object.

When parsing your options to Formeo, make sure you do a deep copy of the object - I personally use jQuery's extend functionality:
[code]

To set the builder to blank, it's best to capture the initial `bui

[2018-03-22 20:16] kodeine opened #100 "bootstrap for styling?"
is it possible to use bootstrap styling?

[2018-04-04 02:38] ryleeferguson opened #101 "Missing Script: dev"
I've just followed the install instructions.
I've got NodeJS and Webpack installed, cloned the repo and ran `npm install`

When attempting to `npm run dev` I get the error:
[code]

I am running on windows.
Any help would be appreciated, thank you

[2018-04-05 09:12] johntell opened #102 "Removal of select options triggers error"
How to trigger error:
Add select element -> remove one of the higher options -> Edit label/value for any of the options bellow->
`"Uncaught TypeError: Cannot read property 'label/value' of undefined".
`
The formData show me that the removal of an option will set the option to "null" if done in a wrongful order.

 `"options": [
				{
					"label": "Option 1",
					"value": "option-1",
					"selecte

[2018-04-17 07:35] johntell commented on #102
This bug effects all option based input elements (i.e checkboxes, radio buttons, select options), removing any option will cause this problem and first when you rearange the order of the options, the data will go back to normal.

Can someone please help me to solve this issue, it's causing data corruption making the data unreadable by the application.

[2018-04-17 08:41] jerry1167 opened #103 "How to get Form data other than form elements ?"
Be able to render a formeo form by calling:

[code]
and get formeo FormData by calling:

[code]

However, this FormData json contains ONLY  form elements data, without input data in it .

Is there possible to get this  ?

FormData json data like this:

[code]

[2018-04-17 08:47] johntell commented on #103
To gather the form data simply use $('form').serialize(); The JSON will only contain relevant structure data (ie form structure and input attributes).

[2018-04-20 09:01] rjchen2013 opened #104 "Problem with rendering form"
I am trying to render a form created using Formeo but not successful in doing so (Trying to render a form for actual users to use). Here is the script I am using.

    let container = document.querySelector('#formeo-container');
    let renderContainer = document.querySelector('#formeo-editor');
    let formeoOpts = {
        container: container,
        sessionStorage: true
    };

    const for

[2018-04-20 15:02] jiehanlin commented on #104
I have the same issue.
Maybe the formeo init is async ,so i using:
window.setTimeout(function ()
{
  formeo.render(renderContainer);
}, 500);

[2018-04-21 02:53] rjchen2013 commented on #104
@jiehanlin Your solution works. Thank you.

[2018-04-21 02:53] #104 closed, assigned to nobody

[2018-04-28 07:36] gangparia commented on #99
you can edit the js file and define label

[2018-04-28 19:42] kevinchappell commented on #99
for now the simplest way to edit the label is through the language file and define the language settings onload.

I think it makes sense to save the attribute label to formData so I'm labeling this for future feature

[2018-04-28 20:03] gangparia opened #106 "This library is not compatible to use in salesforce"
Hi Kevin, Salesforce have launched a new framework called lightning framework and this library doesn't work with lightning framework.

There are some variable which being used without declaring them .

[2018-04-29 07:38] kevinchappell commented on #106
I've started working on the library again. Can you provide more details?

[2018-04-29 07:39] kevinchappell commented on #102
Thanks for finding this. I'll look into this today

[2018-04-29 19:25] gangparia commented on #106
Yes sure.
There are few links you can check if that help you:

1) https://developer.salesforce.com/docs/atlas.en-us.lightning.meta/lightning/security_strict_mode.htm
2) https://developer.salesforce.com/blogs/developer-relations/2017/02/lockerservice-lightning-container-third-party-libraries-lightning-components.html

One issue I noticed is with **regeneratorRuntime.mark**
I don't see you have defi

[2018-04-29 22:19] Deamoner opened #107 "What am I missing to do dynamic form saving and loading?"
Hey Guys,

Love the library. Recently started using it for a project to allow custom surveys to be sent out. I got the form builder to load, and got he ajax call back to my api. I have the formData to a mongo db. Then I got an ajax to load it back. But I can't get the form to load back from that form data.

It looks like the order of the object is not preserved when putting it into mongo. Could th

[2018-04-30 00:32] Deamoner commented on #107
Nevermind I figured it out after reading a bunch of the other tickets. Stringified and back did it.

[2018-04-30 00:32] #107 closed, assigned to nobody

[2018-04-30 14:29] kevinchappell opened #108 "Feature: control.output.template"
Add the ability to define an output template for collected answers under `control.output.template`. Radio input example:

Q: How does the patient feel?
A: `well`

Output: "The patient feels `well`"

This would be defined as `control.output.template: 'The patient feels {{answer}}'`

for multiple choice

`control.output.template` should accept a `String` or `Function` for value.
When a function is s

[2018-04-30 14:31] kevinchappell opened #109 "Feature: Save form locale to `formData`"
Saving the locale a form is created in will make it easier to create translations.

[2018-05-01 19:36] gangparia opened #110 "Underscore instead of dash in Id value"
Is this possible, formeo have underscore instead of ids.

[2018-05-01 20:18] kevinchappell commented on #110
What is the use case? It is possible to change but I'd like to know why before considering such a change since hyphen-case is generally accepted best practice for ids.

https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/id

https://gist.github.com/ryansechrest/8693303#5-elements-and-attributes

[2018-05-01 20:23] kevinchappell commented on #103
I see what you mean @jerry1167 . Would it be helpful to add a new method that returns only user submitted formData and have `formData()` return the full formData object?

Also what should user submitted data method be called? `userData`, `submittedData`?

[2018-05-01 20:25] kevinchappell commented on #102
update: working on a fix for this. also related to #105

[2018-05-01 20:26] kevinchappell commented on #101
Looks like the instructions need updating. `npm start` should be all you need.

[2018-05-01 20:26] #101 closed, assigned to nobody

[2018-05-02 13:59] gangparia opened #111 "Is there way to order attributes in formeo"

[2018-05-02 14:10] #111 closed, assigned to nobody

[2018-05-02 14:11] gangparia commented on #110
Thanks for sharing info.

[2018-05-02 14:11] #110 closed, assigned to nobody

[2018-05-03 22:06] beamwerks commented on #95
'input' looks to be the incorrect format.  you should specify the exact field you want to remove.  if you put in 'hidden' or 'button', it works fine..  but it does fail on 'upload' and 'text-input'

this works fine
disable: {
          groups: [],
          elements: ['button','hidden']
      }

but
disable: {
          groups: [],
          elements: ['button','hidden','upload']
      },

results

[2018-05-07 01:44] jerry1167 commented on #103
Thanks for concern.  Both the names seems ok to me if the feature works. Besides, naming rights belongs to the owner, right

[2018-05-07 01:47] jerry1167 commented on #103
@johntell , also thanks for your idea. It works, just not that elegant way to solve this issue.

[2018-05-08 16:51] gangparia opened #112 "Is it possible to add attribute in row section."

[2018-05-19 08:29] sinarzv2 opened #113 "How to change value of attribute dynamically?"
I found id of attribute and I want to change value of this, I use:
$("#id).val("value")
value of input is change but attribute is not add to element. and value not save in json output.

[2018-05-23 23:53] eradin opened #114 "Select, Check box and Radio options not draggable"
The reorder symbol is there but it doesn't do anything

[2018-05-24 00:01] eradin opened #115 "Button options dropdown display issue"
On the option tab, the type and style drop downs have the dropdown caret but there is a stray down caret icon behind the default button.  See attached.
![screenshot-2018-5-23 formeo drag drop form creation](https://user-images.githubusercontent.com/3924103/40457371-f8d0c280-5eaa-11e8-99e8-e9d13c1ee521.png)

[2018-05-24 00:04] eradin opened #116 "Deletion of Required attribute"
You can delete the Required Field attribute.  I'm not sure this is a good thing as you can't get it back without recreating the field.  Perhaps add config option to lock these attributes.

[2018-05-24 00:09] eradin opened #117 "+ Attribute button"
I'm using the formbuilder as part of an end user application.  I want to control the capabilities to the end user so, that means disabling (or hide) the "+ Attribute" button on the attribute tab.  This would be globally.   With formbuilder I just made that class hidden but it would be nice to have it as a configuration toggle.

[2018-05-24 00:19] eradin opened #118 "Need a way to add attribute types"
If there is a way to programmatically add new attributes to the attribute pane, please document.  In addition to attributes with type text, how about selects and radios?  Doing this programmatically would be sufficient.  Similar to the header control (h1, h2, h3 etc).

[2018-05-24 00:22] eradin opened #119 "Field label name dissapears when editing field"
When pane is closed, label name is present.

![screenshot-2018-5-23 formeo drag drop form creation 1](https://user-images.githubusercontent.com/3924103/40457860-b66cf366-5ead-11e8-90c1-d87701913380.png)

When in edit mode, the label disappears which makes it hard to remember which field you are working on.

![screenshot-2018-5-23 formeo drag drop form creation 2](https://user-images.githubusercont

[2018-05-26 18:22] kokhoor commented on #84
Any hints how to fix it? As the events.js in formeo (where the error seems to be flagged) seems to be based on CustomEvent.

[2018-05-31 14:35] kokhoor commented on #84
1. To at least enable my vue app to compile, what I did was add following to utils.js:

[code]

Wherever I see a `new CustomEvent` call in the existing code (say events.js), I did this:

[code]

2. In formeo.js I added Object.assign from Mozilla Developer Network (I temporarily disabled ESLint in the process as it doesn't allow `varArgs` and changing it to `...varArgs` doesn't work due to presence

[2018-07-06 13:09] nacimgoura commented on #94
There is a problem, `onSave` is called each time we add an element, it has the same operation as `onAdd`.

[2018-07-07 10:26] kevinchappell commented on #84
great work @kokhoor
The [CustomEvent polyfill](https://developer.mozilla.org/en-US/docs/Web/API/CustomEvent/CustomEvent#Polyfill) and [Object.assign](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/assign#Polyfill) polyfills will be added to the next release

[2018-07-16 12:45] kevinchappell commented on #117
I agree, will add it to the roadmap.

[2018-07-16 12:59] kevinchappell commented on #113
You would need to change the inputs in the edit panel of the field but there is a new feature in progress that should be available next month to handle this programmatically.

[2018-07-16 13:02] kevinchappell commented on #112
Currently no but what type of attributes would be needed? Can you describe the use case?

[2018-07-16 13:06] kevinchappell commented on #106
Thanks for the info. The need for regeneratorRuntime has been removed and the fix will be in the next release.

[2018-07-16 13:24] kevinchappell commented on #118
Documentation doesn't yet exist for this but its a priority for the next release. Attribute types are determined by the data type and structure of the attribute. For example if you add a required attribute with value `false` it will create an unchecked checkbox. Dropdowns like the one in the header control you mentioned use an array of objects in the (also undocumented) `options` structure for sel

[2018-07-16 13:27] kevinchappell commented on #96
formBuilder has rows but not columns. PRs welcome.

[2018-07-16 13:27] #96 closed, assigned to nobody

[2018-07-25 14:16] muratsakaaa opened #120 "Formeo Fields on toolset disappear when i dragged on toolset to own"
![formeo](https://user-images.githubusercontent.com/38035935/43206416-5c9fb708-902e-11e8-92df-e4bee25aa774.PNG)

[2018-07-26 14:17] muratsakaaa commented on #120
I solved thats problem if user drag formcontrol to on own side control was disappeared.I wrote thats code
  if (e.parentElement.className == "control-group") {

                }  else {
                    return e.parentElement.removeChild(e)
                }  on formeo.min.js  at 431.line (I beautified min.js )

[2018-07-26 14:22] kevinchappell commented on #120
Thanks for filing this issue, I'll be sure to add a test case for it.

Glad you worked this out, the next release should have this fixed.

[2018-07-27 08:10] muratsakaaa opened #121 "after removed all options on select and radio elements can not add new option to these element"

[2018-07-27 08:11] muratsakaaa commented on #121
r.length == 0 ? i = { label: "", selected: false, value: "" } : i = (0, y.cleanObj)(r[r.length - 1]); (at 3922 line)

[2018-07-27 08:11] muratsakaaa commented on #121
I solved that issue first of all i defined var i ; at 3916line

[2018-08-04 06:09] sinarzv2 opened #122 "Tab element"
in "formBuilder.online" there is "Tabbed/Multi-Page Forms" feature but in formeo there isn't.
Can you add this feature to formeo in next release? I very need this.

[2018-08-06 20:04] eradin commented on #120
Kevin, when do you expect a new release?  It's been a while.

[2018-08-06 21:54] kevinchappell commented on #120
Indeed it has been a while. The next release should be in a week or so.

[2018-09-03 23:59] Deamoner opened #123 "Load up config and answers"
Dunno if I could find it in the documentation or if i'm missing something.

I setup the formeo to load, and save form configs to a mongo db. Then I did submitting answers, and now I am loading answers. The best I could do was formeo render and then wait and iterate through the answers searching by id or name attribute using jquery. Is there a simple or more basic way?

We're doing medical surveyin

[2018-09-04 19:22] charmis commented on #122
My understanding is that Multi-page is not a formBuilder feature. Instead it created using jQuery UI Tabs.

[Kevin's code pen](https://codepen.io/kevinchappell/pen/BKYPRp)

[2018-09-05 08:28] hieutns96 opened #126 "Using Formeo With Angular Material"
Hi guys,
I'm looking for some solutions to replace Formeo layout with Angular Material but i don't know how to add element like mat-button, mat-input to <input> <button> . Hope to see answers

[2018-09-05 08:34] sinarzv2 commented on #122
That's right, but when I try implement it in formeo there is a problem.
I use "new formeo" for each tab but when I want to get "formdata" of one tab Instead it gets formdata from all tabs.

[2018-09-05 12:39] zzekikaya commented on #84
Hi,

I have same problem. when will you fix that problem.
enjoy working !

[2018-09-05 18:54] charmis commented on #122
Can you share your code in jsfiddle.net or codepen.io ?

[2018-09-07 16:43] markandrewkato opened #128 "Multiple values from grouped checkbox?"
Is there a way to get an array of selected value from a grouped checkbox? Right now, when a user submits the form, I only get a single value from the grouped checkbox. I've attached a screenshot below for reference. Thank you.

**Form Element**
![checkbox_form](https://user-images.githubusercontent.com/5277002/45231808-f153b680-b2ff-11e8-9bc4-5b10b5455d6a.jpg)

**Data from post**
![checkbox_result

[2018-09-24 14:06] charmis opened #132 "Label of one input-group is so close to previous input element"
A field's label is rendered very close to an input element of previous input group, if those fields are in same row.

![before](https://user-images.githubusercontent.com/2847449/45956357-4837dc00-bfe0-11e8-8297-8dea3c232771.PNG)

As seen in the screenshot attached above, the label "Middle Name" is rendered very close to text box "First Name". Same is the case for "Last Name". There should be a spa

[2018-09-25 09:15] AnasTHH opened #134 "Dragging in Chrome Version 69"
Please test it in Chrome Version 69 where it can be dragged after mouse release.
https://i.imgur.com/QZWensD.gif

[2018-09-25 09:44] kevinchappell commented on #134
I'm seeing this in Chrome 69 too. What OS are you experiencing this on?

[2018-09-25 09:47] AnasTHH commented on #134
Windows 10 Pro x64

[2018-09-25 09:50] kevinchappell commented on #134
@AnasTHH Thanks, I have been seeing this on Linux but not Mac OS though its possible the Mac hasn't updated to Chrome 69 yet.

Will work on a fix.

[2018-09-26 05:16] mallikarjuna009 opened #135 "HOW TO INSTAL AND USE"
HOW TO INSTAL ANDU USE THIS I DID,NOT UNDERSTATE PLEASE TELL ME

[2018-09-28 05:41] mallikarjuna009 opened #138 "save option"
where it going save when click save button .if not how to save dragged items please let me know

[2018-10-01 13:01] charmis commented on #138
[https://github.com/Draggable/formeo/blob/master/demo/assets/js/demo.js](https://github.com/Draggable/formeo/blob/master/demo/assets/js/demo.js) If you look at that code, you would see a line of code `const formeo = new window.Formeo(formeoOpts);`.

use that variable to access the `formData` property to get a JSON object. That object contains all the details of the elements you dragged to the stag

[2018-10-02 22:54] dtorres-sf opened #140 "Incorrectly loading saved form data"
I try to load a schema with 7 fields but instead it only loads 6 of the 7. Also the right hand column is in reverse order. Here is the output after loading:

![image](https://user-images.githubusercontent.com/30841716/46381481-5b3f5180-c65b-11e8-995e-94085b76588e.png)

And here is the schema that was loaded which should have 7 fields:

[code]

[2018-10-03 06:12] kevinchappell commented on #140
confirmed, working on fix.

[2018-10-03 06:38] kevinchappell opened #141 "Immutable states"
Suggest preventing mutations by using a library like [Immer](https://github.com/mweststrate/immer).

[2018-10-03 17:13] markandrewkato commented on #134
Same problem. Working on Mac OSX High Sierra and Mojave, both Chrome v69

[2018-10-04 04:17] kevinchappell commented on #140
resolved in #142

[2018-10-04 04:17] #140 closed, assigned to kevinchappell

[2018-10-05 00:57] dtorres-sf opened #143 "Cannot add hidden input (1.0 release branch)"
Latest formeo 1.0 release cannot add hidden input field. When trying to add it I get a javascript error `TypeError: Cannot read property 'parentElement' of undefined`.

[2018-10-05 01:05] dtorres-sf opened #144 "Resizing columns not correctly calculating width (latest 1.0 branch)"
When resizing columns within a row the builder only correctly resizes the first column in the formData. For instance, when resizing two columns like this:

![image](https://user-images.githubusercontent.com/30841716/46510744-a8f4bf00-c7ff-11e8-899c-59c84746f62a.png)

This was the output for those two columns:

[code]

It appears the last column will always keep its width percentage. When resizing

[2018-10-08 07:15] mallikarjuna009 commented on #138
how to saved formdata json  convert into again into forms. and if form create fields enterd dat after clicking button save the entered data into db.

[2018-10-08 07:24] mallikarjuna009 opened #145 "create form based on formdata"
i saved formData as json formate. i want to create form based on formdata json saved data. if click button load json and create form showing selected field

[2018-10-16 11:32] CapnComic opened #146 "Drag and Drop not working correctly in latest Chrome update"
Formeo was working perfectly, however my chrome just updated to **Version 69.0.3497.100 (Official Build) (64-bit)** and now when dragging an input in from the menu onto the drop-zone, the 'no-drop' icon stays on the mouse until you release-click the mouse on the drop-zone, then you need to click again to actually drop the item.  Then the item drops into position, however if you happen to have clic

[2018-10-17 08:06] muratsakaaa opened #147 "Add row bug"
Single field can not drop any empty row because row have not got a column therefore application broke.
I solved this bug.When add a row from layout components with a column.

[2018-10-17 17:28] JaneCoder opened #148 "Trouble finding the required formeo.min.css file"
Hello,

I do not see this file mentioned in the readme in the project. And I have not been able to run the build or start scripts locally to try and create it due to the error: Can't resolve 'mi18n'

Thanks for any help on how I could get the css file to try out formeo.

[2018-10-17 18:24] charmis commented on #146
Duplicate of #134

[2018-10-17 18:26] charmis commented on #148
Can you try
`npm update mi18n@latest`
Also make sure the folder _formeo\node_modules\mi18n_ has **dist** folder.

[2018-10-17 20:31] JaneCoder commented on #148
I do see mi18m under node_modules but it does not have a dist folder. Its package.json starts with  "_from": "mi18n@^0.3.4",
Running the update did not appear to make a difference.

Here is the first of the "Can't resolve 'mi18n' error:

ERROR in ./src/js/formeo.js
Module not found: Error: Can't resolve 'mi18n' in '/Users/janecoder/testapp/formeo/src/js'
 @ ./src/js/formeo.js 9:13-29
 @ multi (web

[2018-10-18 08:00] muratsakaaa commented on #146
if you updated last chrome verson problem was solved .I tested.

[2018-10-18 12:56] charmis commented on #148
Can you try
`npm install mi18n@0.3.4`

[2018-10-18 14:03] JaneCoder commented on #148
That worked. Thanks.

On Thu, Oct 18, 2018 at 8:56 AM Charmis Varghese <notifications@github.com>
wrote:

[2018-10-18 15:14] kevinchappell commented on #148
there are a good number of improvements between `latest` and `0.3.4`. `npm install --save mi18n@latest` should install `0.4.6`.

Apologies for the missing info, it will be updated with the next release.

[2018-10-18 15:14] #148 closed, assigned to nobody

[2018-10-20 22:35] dtorres-sf opened #149 "Cannot add select options (1.0 release branch)"
For select fields it comes with three options by default. I can rename these options and delete these options but the adding option button doesn't do anything. It is not possible to get 4 or more options.

[2018-10-20 22:39] kevinchappell commented on #149
@dtorres-sf This is an issue with the current release. Fixes will be included in the next release.

[2018-10-23 17:04] charmis commented on #145
[Demo source code](https://github.com/Draggable/formeo/blob/master/demo/assets/js/demo.js) has a line
`const formeo = new window.Formeo(formeoOpts);`

You can pass a second parameter to window.Formeo() which is saved form data.

eg: `const formeo = new window.Formeo(formeoOpts, packageJsonFromDB);`

[2018-11-02 02:10] eradin opened #151 "request: pallete should haev tabs"
The field pallete has those left and right arrows.  A better approach would be tabs.  To a new user, it's not apparent that the other pages are there.  Tabs would make it obvious.

If you like the current implementation, perhaps make it configurable.

[2018-11-03 20:54] dtorres-sf commented on #149
@kevinchappell The latest 1.0 allows more options to be added, but it still always only has at most 3 options in the schema output. It seems like it always has the first two options and the last option:

![image](https://user-images.githubusercontent.com/30841716/47957270-df913700-df6f-11e8-8027-cb386087cf36.png)

And the schema for the field shows:

[code]

[2018-11-03 20:55] kevinchappell commented on #149
OK I'll focus on that now. Thanks

[2018-11-05 02:57] thonycc10 commented on #138
Hello, I'm in the same place as mallikarjuna009 I want to know how to save the json in the database and how the form is built by json the saved forms. please help me

[2018-11-05 03:25] charmis commented on #138
Can you please check the answer for #145

[2018-11-05 03:50] thonycc10 commented on #145
thank you very much man

[2018-11-05 04:06] thonycc10 commented on #145
look at this example -> But since I have 2 forms on the same page, when I load data in this way, both forms have the same data.
https://codepen.io/dibwas/pen/yQyaKZ?editors=1111

[2018-11-05 04:11] dibwas opened #152 "Multiple formeos on same page returns same formdata when saved and loads same formeo from different formdata"
Hi,

I created a Pen - https://codepen.io/dibwas/pen/yQyaKZ?editors=1111
I have added 2 formeos on same page, but id are different and formeo objects have been assigned to different variables
I create different forms in each formbuilders
I have 2 buttons at the end to print data in console
but both of them give me same output.

Also while I load, I have 2 different data in database for formeoData.

[2018-11-05 16:50] charmis commented on #152
I think Formeo does not support multi-forms on same page. @kevinchappell  please confirm.

[2018-11-05 16:51] kevinchappell commented on #152
@charmis it should, if it doesnt then this is a bug.

[2018-11-09 21:13] dibwas commented on #152
@kevinchappell As mentioned in gitter, I had a delivery this 8th nov, and I am dependent on this bug being fixed. Could we have a timeline for this fix and release? Looking for a favorable reply.

[2018-11-12 18:06] allan-ayamah opened #154 "Reusable conditions"
This is not really an issue but a proposal.

Instead of defining conditions on every component added, we could instead define conditions somewhere(not on the stage) and apply it on multiple components.

By doing this the user can select from the defined conditions which one to apply on a  component.
A component could have a condition for visibility and another to disable it.

[2018-11-12 18:20] kevinchappell commented on #154
This is a good idea. Would you mind expanding a little on the workflow? I understand how we could apply states like visibility but am not sure how we could apply field based conditions.

Maybe when defining a condition like `if field.value == "my value"` there could be a button that allows to save that condition to make it easier to apply to other fields. I'd like to explore:
- where it would be s

[2018-11-12 18:28] allan-ayamah commented on #154
Well we could use user defined variables, they can be static values or derived from a component.

By doing this the user can write a script using the said variables and the script will either return true or false based on some business logic.

If we go this we don’t even need to “compose” the conditions like how has been implemented now.

I hope am clear enough.

Sorry am typing from my phone

[2018-11-12 19:29] allan-ayamah commented on #154
Conditions and variables could be kept in another "TAB", maybe after layout group.

- Variable will have a name, value(if constant) or component derived where user selects a component then a parameter(component could hold multiple data).

- Condition will be a textarea/file where the user can use the defined variables by name and return true/false

The defintion of both can be done with popups

To

[2018-11-12 20:44] kevinchappell commented on #154
ok I think I get it now.

I planned to add an interface to add "evaluators", or methods that can implement their own logic for returning true or false. Will that cover this requirement? Also there is another part of conditions in release/1.0 called External Data that should cover the users defined variables.

I think we should should also more clearly define some of the terms involved in condition

[2018-11-13 00:24] allan-ayamah commented on #154
- External data is great but what i meant was a possibility to add "internal" variables. For example the variable "myFieldValue" will derive it value from "field.value".

- Conditions: instead of using the interface to compose it (because it could be complex), i can write a function like "return myFieldValue === 'value'" and the evaluator will evaluate my function and return a result.

By doing th

[2018-11-13 01:55] kevinchappell commented on #154
hmm ok, that makes sense. What would the interface look like for this? I agree we need another- more programmatic way to define conditions. Currently it can be done directly through formData but what would the api look like for this approach?

[2018-11-13 09:08] allan-ayamah commented on #154
![variables_conditions](https://user-images.githubusercontent.com/5589155/48401428-73f65900-e729-11e8-8477-de0cc8be2613.png)

I was thinking we could have a panel(collapsible) before the stage.
- The main panel will be divided into 2 parts, the left panel will display a list of defined variables and conditions and the one on the right will just be container that displays properties of the variable

[2018-11-14 20:26] #146 closed, assigned to nobody

[2018-11-14 21:51] dibwas commented on #152
@kevinchappell Kindly update on the status of this bug. Eagerly waiting for this fix. Thanks in advance

[2018-11-14 22:36] kevinchappell commented on #152
working on a fix now

[2018-11-20 03:19] johndavemanuel opened #159 "Custom fields"
Hi!

Do you have tutorial for adding custom fields?

Is it possible to add like input types like (email,password etc) ?

[2018-11-20 03:45] kevinchappell commented on #159
Absolutely. The tutorial is not finished but you can create simple custom fields via options by adding it to `elements`

ex:
[code]

Custom inputs like tinymce and cleave.js can be created using the above method with `onRender` action to instantiate or by creating a custom control similar to [formBuilder](https://formbuilder.online/docs/formBuilder/controls/).

[2018-11-20 04:14] johndavemanuel commented on #159
Great!  Thanks!
Also when I try to run the demo on my local I got an errror

TypeError: window.FormeoEditor is not a constructor
formeo-master/demo/assets/js/demo.js:142

How can I fix this?

[2018-11-20 04:24] kevinchappell commented on #159
There is a bug in the current release I'm working on now causing that error. It will work if you run `yarn start` from the repo otherwise you'll need to change the location of formeo.min.js in index.html

[2018-11-20 05:37] johndavemanuel commented on #159
"you'll need to change the location of formeo.min.js in index.html"

Also trying yarn start is error

[code]

I try it but still the same

[2018-11-20 19:54] kevinchappell commented on #159
ok i see. I should have made `yarn clean` cross platform. `rm` won't work on windows outside of WSL on Windows. Can you try the Ubuntu bash or Git shell? I need to focus on completing other features and docs but after will definitely focus on Windows support.

[2018-11-21 03:14] dibwas commented on #152
@kevinchappell Is this fix in place? Can I pull from Git now ?

[2018-11-22 09:44] demobiel opened #160 "onAdd not firing"
Hi

my goal is to add a default attribute when elements are added and people should be able to choose from a popup menu the values.

I thought the "onAdd" event would be the good way to go, so that I could add the attribute to it and the given values.

However I tried the following code (the demo.js file is intact besides this change):

`  events: {
   onUpdate: console.log,
   onSave: console.log

[2018-11-29 20:56] dtorres-sf commented on #149
@kevinchappell still seeing this on latest beta.

[2018-12-01 12:03] mstrokin commented on #152
Seems like it saves fields in some kind of global variable, e.g.:
if you add one field to first form, and one field to second form, resulting formData consists of 2 elements

[2018-12-03 13:54] cpytel opened #161 "Block elements not editable in 1.0 beta.1"
Hello, using Formeo 1.0 beta.1, I am not able to edit block elements (paragraph and header).

When trying to debug, if I manually set `contenteditable=true` on the element using inspector then I'm able to edit it, and when I save the form and reload the form, whatever I changed it to is in a `value` attribute on the element, but not in the content of the block element.

[2018-12-03 17:52] kevinchappell commented on #161
@cpytel Thanks, this is a known bug. Will be resolved in the next release. 👍

[2018-12-04 19:00] dibwas commented on #152
@kevinchappell any update on this issue ?

[2018-12-11 05:46] johndavemanuel commented on #159
Is this issue already fixed?

[2018-12-11 05:54] johndavemanuel opened #162 "Documentation - How to run in local"
I downloaded the ZIP file on the master branch

Is there any steps how we can run this on local server?

[2018-12-12 12:58] kevinchappell commented on #145
@thonycc10 this is a bug that will be address in the near future. Closing issue since original question was answered

[2018-12-12 12:58] #145 closed, assigned to nobody

[2018-12-12 12:59] kevinchappell commented on #134
This is resolved as of 1.0 and Chrome 70+

[2018-12-12 12:59] #134 closed, assigned to kevinchappell

[2018-12-12 15:31] #149 closed, assigned to kevinchappell

[2018-12-13 03:35] kevinchappell opened #165 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-12-13 03:52] kevinchappell commented on #165
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-12-13 03:57] kevinchappell commented on #165
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-12-13 04:19] kevinchappell commented on #165
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-12-13 04:30] kevinchappell commented on #165
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-12-13 06:07] johndavemanuel commented on #162
After cloning the new master branch, it i still error

![image](https://user-images.githubusercontent.com/8970365/49919100-637bfe80-fee0-11e8-810a-03bab0a2776f.png)

[2018-12-13 18:19] kevinchappell commented on #162
You might need to pull again and `npm install`. The project is now using a forked version of mini-css-extract-plugin until this [PR is merged](https://github.com/webpack-contrib/mini-css-extract-plugin/pull/321). Running `npm install` should build the forked mini-css-extract-plugin.

[2018-12-14 01:34] johndavemanuel commented on #162
Hi!

Unfortunately it is still error

![image](https://user-images.githubusercontent.com/8970365/49977985-68de5500-ff83-11e8-85d7-146cf011c792.png)

[2018-12-16 19:04] dibwas commented on #162
Same for me. Any solution?

[2018-12-17 20:10] charmis commented on #162
Which version of _webpack_ you are using?

[2018-12-18 02:53] johndavemanuel commented on #162
@charmis How to know the version?

[2018-12-19 13:40] charmis commented on #162
Try `webpack -v` in command prompt

[2019-01-05 08:31] ghost commented on #162
Same for me. Any solution?

[2019-01-06 21:43] rustymcg9000 opened #166 "How to poperly destroy a formeo instance"
I am creating a new Formeo form in a Bootstrap modal dialog using "new Formeo(formeoOpts);" in the "show.bs.modal" event.
When the modal is closed I am clearing its contents by calling the jQuery empty() method in the "hidden.bs.modal" event.
However, when I open the modal again the form does not render and I get the following error:

Uncaught (in promise) TypeError: Cannot set property 'innerHTML

[2019-01-11 11:38] xitara opened #167 "Form from formBuilder2Formeo throws an error"
I convertet a Form from formBuilder to Formeo and I get the following Error:

`formeo.js?1.0.0:1616 Uncaught TypeError: Cannot convert undefined or null to object
    at Function.keys (<anonymous>)
    at t.objToStrMap (formeo.js?1.0.0:1616)
    at i (formeo.js?1.0.0:1323)
    at Object.init (formeo.js?1.0.0:1335)
    at new e (formeo.js?1.0.0:3233)
    at 10:606
`

This is the JSON from formBuild

[2019-01-13 14:46] niccololampa opened #168 "Dynamically insert checkbox and select options"
Is there a way to for example automatically insert the options for checkbox and select?

Let's say a user needs to insert a country select field where they have 100 plus countries and the UI/UX?

[2019-01-13 16:00] xitara opened #169 "event onSave fires on changing form"
The event onSave fires on adding/deleting fields to/from the Form every time, not only on pressing "save"

[2019-01-29 15:10] jmorvan commented on #159
@johndavemanuel , nope, as of today could not build on windows with PS or CMD. GIT Shell worked though.

Seems like there is still a bug in the latest. Building doens't provide you with a constructor for Formeo. Only the builder and the render classes.

I had to take the .js and .svg from the demo.

[2019-02-06 08:49] wisdmyogeshshirsath opened #170 "Dragging element from 1 row/column to another empty row"
When I drag a field from 1 row/column to empty js throws error:
![screenshot from 2019-02-06 14-17-33](https://user-images.githubusercontent.com/45841790/52329969-216fc480-2a1a-11e9-9495-1253be291db4.png)

[2019-02-12 01:05] johndavemanuel commented on #159
@jmorvan yes it is, I also do it from the demo,

[2019-02-12 01:54] kevinchappell commented on #159
It's sounds like this is a separate issue from custom fields. Can someone make a separate issue with the details? Prs also welcome.

[2019-02-12 03:05] AlexBreskin opened #171 "Unable to build (current), formeo.min.js breaking (0.7.17)"
Hi there!

I'm trying to get this working on my sails.js application, but I've run into a few problems while trying to get Formeo to work Chrome. It looked like there was a self.navigator declarer instead of window.navigator declarer in the formeo.min.js, which I was able to fix by beautifying the formeo.min.js, debugging it and changing the value out. It's not the most sustainable solution though

[2019-02-14 16:25] thill0822 commented on #169
having this problem too. any work around?

[2019-02-15 06:55] abhishekgoenka commented on #171
I am also getting the same error. Did you get any solution?

[2019-02-15 23:21] kevinchappell commented on #171
hey guys, this repo is Draggable/formeo not kevinchappell/formeo. i'll push the latest to my fork but the scripts you mentioned are working in the latest on Draggable/formeo.

[2019-02-15 23:21] #171 closed, assigned to nobody

[2019-02-16 19:21] dibwas opened #172 "Getting intermediate value error while loading formeo"
For the below formeo json, getting strange error

Uncaught (in promise) TypeError: {(intermediate value)(intermediate value)(intermediate value)(intermediate value)}[i] is not a function
    at formeo.min.js:6
    at Array.map (<anonymous>)
    at DOM.processOptions (formeo.min.js:6)
    at DOM.create (formeo.min.js:6)
    at e.fieldPreview (formeo.min.js:6)
    at new e (formeo.min.js:6)
    at D

[2019-02-17 03:09] AlexBreskin commented on #171
Hi Kevin,

I appreciate that kevinchappell/formeo is not currently in use but the problem I posted about also involves Draggable/formeo for the 2nd half of the issue, which is my attempt at the current Repo.

It appears to be an issue with mini-css-extract-plugin@0.5.0 - is there a way I can progress with this as I'd love to use Formeo and it looks like an excellent platform!

[2019-02-17 03:13] AlexBreskin commented on #171
Also, it would be worthwhile to update the contributing.md to reflect the current process to contribute before closing this issue as it's the root cause of the first half of the issue, it would be very helpful for future developers

[2019-02-17 04:29] dibwas commented on #172
I could pin point the issue. When exporting the formeo data, sometimes the attribute type is coming blank. Hence the error.

![image](https://user-images.githubusercontent.com/632676/52908362-aa002780-329a-11e9-9d52-bbcdb8e64fd4.png)

[2019-02-17 05:20] kevinchappell commented on #172
Awesome find. I'll see what's causing that.

[2019-02-18 01:29] AlexBreskin opened #173 "Cannot build formeo"
Hi there,

I've been attempting to build Formeo on a Windows 10 machine using Command Prompt running under Administrator mode, but have been unable to up to this point.

The commands used so far are:

This process will run up until it hits the following errors:

Any help here would be greatly appreciated. I have attempted to use webpack -v, but it instead goes through a process of installing webpa

[2019-02-18 18:04] charmis commented on #173
Make sure you have installed yarn. Please refer [yarn install page](https://yarnpkg.com/lang/en/docs/install)

Execute the following commands one by one:

[code]
Once all the above commands are done, you would be able to see a folder `formeo\demo` which has `index.html` and an `assets` folder.

Open the index.html in browser and you would be good to see the **formeo** designer screen.

[2019-02-19 02:15] AlexBreskin commented on #173
Thanks @charmis

This did the trick! I'm now able to build the application following those steps.

Would it be possible to refer to these steps in the documentation for future users?

[2019-02-19 14:01] charmis commented on #173
You are welcome @AlexBreskinRecognite

I am not exactly sure how to fix when using `npm`.

What I found is that the npm script is looking for `src` folder and contents inside `\formeo\node_modules\mini-css-extract-plugin` which does not exist. But while using `yarn`, the `src` and its contents exist.

@kevinchappell Do you think it would be a good idea to add these steps in the documentation?

[2019-02-20 00:23] kevinchappell commented on #173
@charmis absolutely. I took a look last night and the steps need to be updated as well as fixing install when using npm.

[2019-02-28 22:39] kevinchappell commented on #165
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-03-19 18:45] intelligence0504 commented on #173
when I open the index.html in browser, I have some issues.

Fetch API cannot load file:///home/david/Workspace/formeo-master/formeo/demo/assets/img/formeo-sprite.svg. URL scheme must be "http" or "https" for CORS request.
(anonymous) @ demo.min.js:28
demo.min.js:11 Access to XMLHttpRequest at 'file:///home/david/Workspace/formeo-master/formeo/demo/assets/lang/en-US.lang' from origin 'null' has bee

[2019-03-19 19:31] kevinchappell commented on #173
@intelligence0504 this is a separate issue. formeo uses fetch to load icon and language resources which does not work for local files. You'll have to serve index.html, you can do this using the built-in dev server or if you want to test the production build you can use an npm module like [serve](https://www.npmjs.com/package/serve)

try the following:

[code]

This will install the `serve` module,

[2019-03-19 19:31] #173 closed, assigned to nobody

[2019-03-19 19:32] kevinchappell commented on #102
fixed in 1.0-beta

[2019-03-19 19:32] #102 closed, assigned to nobody

[2019-03-19 19:33] intelligence0504 commented on #173
Thanks...Do you have react app using forme?

[2019-03-19 19:33] intelligence0504 commented on #173
I don't know the way of usage.

[2019-03-19 19:40] kevinchappell commented on #173
@intelligence0504 not yet though i think others have.

[2019-03-19 19:58] intelligence0504 commented on #92
shabaz-ejaz

Do you have the react project using formeo?
Help me.

[2019-03-19 20:07] intelligence0504 commented on #173
Thanks for your answer.
I have made custom field (image) at react app using jquery form builder.
But I cant display custom field on preview Popup.
And how should I implement section(function like row and column on formeo) in jquery form builder?
Help me.

Sent from Mail for Windows 10

From: Kevin Chappell
Sent: Tuesday, March 19, 2019 12:40 PM
To: Draggable/formeo
Cc: Theperseusme; Mention
Subjec

[2019-03-19 20:27] kevinchappell commented on #167
Options are not being correctly generated for `button` type, will open PR now.

also you shouldnt need to stringify `formeoForm` var.

Edit, [fixed](https://github.com/Draggable/formBuilder2Formeo/pull/1)

[2019-03-19 20:27] #167 closed, assigned to nobody

[2019-03-19 21:59] kevinchappell commented on #165
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-03-19 22:26] kevinchappell commented on #167
:tada: This issue has been resolved in version 0.7.18 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/formeo)
- [GitHub release](https://github.com/Draggable/formeo/releases/tag/v0.7.18)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-19 22:27] kevinchappell commented on #149
:tada: This issue has been resolved in version 0.7.18 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/formeo)
- [GitHub release](https://github.com/Draggable/formeo/releases/tag/v0.7.18)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-19 22:27] #165 closed, assigned to nobody

[2019-03-21 07:05] intelligence0504 commented on #173
Does Formeo supply French in i18n?
I can not see French   on https://draggable.github.io/formeo/ .

Sent from Mail for Windows 10

From: Kevin Chappell
Sent: Tuesday, March 19, 2019 12:40 PM
To: Draggable/formeo
Cc: Theperseusme; Mention
Subject: Re: [Draggable/formeo] Cannot build formeo (#173)

@intelligence0504 not yet though i think others have.
—
You are receiving this because you were mentio

[2019-03-21 07:13] intelligence0504 commented on #173
Hello.. How are you?
I cant install formeo using npm.
When I run “npm I formeo” , got some issue.
Help me.
Thx.
 Sent from Mail for Windows 10

From: Kevin Chappell
Sent: Tuesday, March 19, 2019 12:40 PM
To: Draggable/formeo
Cc: Theperseusme; Mention
Subject: Re: [Draggable/formeo] Cannot build formeo (#173)

@intelligence0504 not yet though i think others have.
—
You are receiving this because yo

[2019-03-21 09:15] intelligence0504 commented on #92
TypeError: window.Formeo is not a constructor

App.componentDidMount
src/App.js:21
  18 |       ],
  19 |     },
  20 |   };

     | ^  22 |   // new Formeo({ container: '.build-form' });
  23 | }
  24 |
View compiled

[2019-03-21 09:56] intelligence0504 commented on #92
new window.Formeo(options); is not constructor..

Help me.

[2019-03-21 19:45] intelligence0504 commented on #159
I got the following issue.
TypeError: window.Formeo is not a constructor

FormeoEditor.componentDidMount
src/App.js:24

  21 |     };
  22 |
  23 |     // new Formeo({ container: '.build-form' });
 24 |     new window.Formeo(options);
   25 | }
  26 |
  27 | render() {

[2019-03-21 20:33] kevinchappell commented on #92
@intelligence0504 try `window.FormeoEditor`. 1.0 was accidentally released yesterday under the wrong version. Will release 0.7.19 later today the fixes the old version and publish 1.0 this evening with updated instructions.

[2019-03-21 21:00] intelligence0504 commented on #92
Thanks.
But I got other issue.

Uncaught (in promise) TypeError: Cannot read property 'firstChild' of null
    at e.empty (formeo.min.js:477)
    at l.render (formeo.min.js:7177)
    at l.init (formeo.min.js:7160)
    at formeo.min.js:7140

[2019-03-21 21:02] intelligence0504 commented on #92
npx create-react-app my-app
cd my-app
yarn add formeo  (can't install formeo module )

This is my full code (App.js)

import React, { Component } from 'react';
import './App.css';
import ReactDOM from 'react-dom';

[code]
[code]

export default App;

[2019-03-22 01:21] intelligence0504 opened #177 "Can't install formeo"
I am gonna build react form builder using formeo.
npx create-react-app my-app
cd my-app
npm i formeo

I have run "npm i formeo"
I got the following issues.

npm ERR! code ELIFECYCLE
npm ERR! errno 254
npm ERR! formeo@1.0.0 postinstall: `npm --prefix ./node_modules/mini-css-extract-plugin install ./node_modules/mini-css-extract-plugin && npm run --prefix ./node_modules/mini-css-extract-plugin build

[2019-03-22 03:07] kevinchappell commented on #177
fixed in #178

run `npm i formeo --save` again and should work.

[2019-03-22 03:22] intelligence0504 commented on #177
Thanks, I have run "npm i formeo --save"
I got other issues.

App.componentDidMount
src/App.js:23
  20 |         },
  21 |     };
  22 |   // new window.FormeoEditor(options);

     | ^  24 | }
  25 |
  26 | render() {

The full code :
[code]
`

[2019-03-22 09:59] kevinchappell commented on #177
It should be ok now. Have a look here: https://codesandbox.io/s/8px8xl8vv9

[2019-03-22 09:59] #177 closed, assigned to nobody

[2019-03-22 10:03] intelligence0504 commented on #177
Thx.

[2019-03-22 10:16] intelligence0504 commented on #177
- would you implement language selection?
https://codesandbox.io/s/ry4753qvvp
- and render from json data

Thanks for your help.
Best Regards.

[2019-03-22 16:19] intelligence0504 commented on #177
can I implement row and columns functions like formeo in jquery form builder?

[2019-03-23 03:22] alchemist8848 opened #184 "Any Examples of using foremo in Angular?"

[2019-03-24 10:12] alchemist8848 commented on #184
please help!

[2019-03-25 08:08] kevinchappell commented on #184
Yes there is somewhere but I'll have to look. Have you searched the issues?

[2019-03-25 08:19] alchemist8848 commented on #184
@kevinchappell thanks a lot for reply. yes i checked but only found in react. please take a look. will be a great help. I aspire to support the project too by code contribution.

[2019-03-25 08:49] intelligence0504 opened #186 "how to custom fields and render from json data in new version?"
I have developed the react form builder using Formeo 1.0.3.

[code]

How should I do to custom fields and render from JSON data?

[2019-03-27 01:25] intelligence0504 commented on #186
kevinchappell

Help me.

[2019-03-28 01:46] AlexBreskin commented on #161
This is still not working in the newest release at v1.03 from what I can see (hosted on https://draggable.github.io/formeo/ ), and adding contenteditable as an attribute does not seem to retain the header or paragraph information when saving the form. Is there any way to do this?

[2019-03-28 02:01] kevinchappell commented on #161
Yikes, I missed this in the last release. Adding it to the top of my list and will have a fix released this weekend.

[2019-04-05 08:58] alchemist8848 commented on #184
@kevinchappell  any help kevin?

[2019-04-10 03:41] phunsanit opened #187 "Missing files formeo.min.js and formeo.min.css"
i download formeo with composer  1.8.5 by command

it not have  formeo.min.js and formeo.min.css in \vendor\draggable\formeo

[2019-04-10 06:12] kevinchappell commented on #187
sorry, im not familiar with composer but npm is delivering the files.
![image](https://user-images.githubusercontent.com/1457540/55855285-fab63300-5b1b-11e9-8e2f-a0fb8eda1d1e.png)
 The project has a `composer.json` is anything else needed?

Is composer case sensitive? Maybe `Draggable/formeo`? If you figure it out please open PR

[2019-04-11 05:27] #170 closed, assigned to kevinchappell

[2019-04-11 05:34] kevinchappell commented on #172
That looks like its from a custom control, can you share your config or how you defined the control?

[2019-04-11 06:00] kevinchappell commented on #169
@xitara Thanks for reporting this, the `onSave` event may be referring to internal save events. This is a bug. Regarding your second comment, I'm sorry you feel that no one cares- that is not the case.

A [great deal of work](https://github.com/Draggable/formeo/graphs/contributors) has gone into the project but at the end of the day I'm one guy with very little time. Formeo is open source so other

[2019-04-11 06:56] kevinchappell commented on #170
:tada: This issue has been resolved in version 1.0.6 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/formeo)
- [GitHub release](https://github.com/Draggable/formeo/releases/tag/v1.0.6)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-11 23:27] AlexBreskin commented on #161
Any chance we can see this in current round of releases? If it's a simple fix and you can point me to the direction of what needs changing, I can try fixing it myself and making a Pull Request to help out

[2019-04-12 15:03] Abhinav1217 opened #194 "DnD not working in firefox."
I am just trying out the demo link. On firefox, DnD is not properly responding. In the gif in the readme, You dragged a text input and merged it into another. But in the site, I can not move the element. No significant error is logged on the console. I could move it on Chrome but not on firefox. Any Idea?

[2019-04-12 22:52] jiehanlin opened #195 "How to set conditions?"
I try to setting,but nothing happen.

[2019-04-13 06:27] #187 closed, assigned to nobody

[2019-04-13 06:37] #161 closed, assigned to nobody

[2019-04-13 06:38] kevinchappell commented on #161
@AlexBreskinRecognite yes- this is long overdue. #196 should finally address this.

[2019-04-13 06:42] kevinchappell commented on #195
Conditions are only applied in the rendered form, are you saying when conditions were met the result was not applied?

Can you describe steps to reproduce the issue?

[2019-04-13 06:42] kevinchappell commented on #161
:tada: This issue has been resolved in version 1.0.9 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/formeo)
- [GitHub release](https://github.com/Draggable/formeo/releases/tag/v1.0.9)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-13 06:47] kevinchappell commented on #194
What version formeo are you using? This was an issue like 2 years ago. Can you also share platform details, OS and firefox version?
![firefox-dnd](https://user-images.githubusercontent.com/1457540/56075799-40256b00-5d7d-11e9-8a5e-24e61145b50b.gif)

[2019-04-13 07:02] #135 closed, assigned to nobody

[2019-04-13 07:04] kevinchappell commented on #147
fixed in #190

[2019-04-13 07:04] #147 closed, assigned to nobody

[2019-04-13 07:05] kevinchappell commented on #121
fixed with 1.0 released, can now remove all and add new

[2019-04-13 07:05] #121 closed, assigned to nobody

[2019-04-13 07:06] kevinchappell commented on #119
this is no longer the case:
![image](https://user-images.githubusercontent.com/1457540/56075980-fab66d00-5d7f-11e9-84df-4646d8d0f67f.png)

[2019-04-13 07:06] #119 closed, assigned to kevinchappell

[2019-04-13 07:08] kevinchappell commented on #143
This looks fixed now as it is no longer reproducible.

[2019-04-13 07:08] #143 closed, assigned to kevinchappell

[2019-04-13 07:09] kevinchappell commented on #120
This is resolved since 1.0. closing

[2019-04-13 07:09] #120 closed, assigned to nobody

[2019-04-13 07:26] #132 closed, assigned to nobody

[2019-04-13 07:33] kevinchappell commented on #135
:tada: This issue has been resolved in version 1.0.10 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/formeo)
- [GitHub release](https://github.com/Draggable/formeo/releases/tag/v1.0.10)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-13 07:34] kevinchappell commented on #132
:tada: This issue has been resolved in version 1.0.10 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/formeo)
- [GitHub release](https://github.com/Draggable/formeo/releases/tag/v1.0.10)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-13 17:55] Abhinav1217 commented on #194
I am using Fedora 29 updated daily. Firefox version is same as your gif above. I haven't downloaded it. I am using the URL in the Repo description. https://draggable.github.io/formeo/ . I am trying once again based on the gif you posted above, Even used a mouse in case it was trackpad issue, Still same, I can click stuffs but not drag it.

Is the URL based on older release??  I will clone it, inst

[2019-04-15 17:02] kevinchappell commented on #194
The url is the current release now. I'll try to replicate the issue and find the source of the problem.

[2019-04-15 17:38] ZOezdem commented on #195
Hi @kevinchappell,

for me it is only working with text input types. As soon as I am using something else like radio button or select it is not working as shown in the attached screenshot below.

I guess I am doing something wrong.....

![Bildschirmfoto von 2019-04-15 19-30-56](https://user-images.githubusercontent.com/10046739/56152901-36864800-5fb5-11e9-8b68-29b5e4b731ee.png)

[2019-04-16 01:06] jiehanlin opened #199 "request: Add field id and name to attrs."
The use of formeo to obtain the form data (serialiarray or form data) and save to the database.
It's better if the field ID or name is friendly.

[2019-05-15 09:06] Arsyad opened #200 "Unable to start formeo"
Hi,

I am trying to install and run formeo using the instructions under Contributing:

[code]

However, everytime I run npm start, it shows an error as per below:

[code]

I also tried running using yarn install but received another error:

[code]

Is there any steps I am missing? I have already installed webpack but it doesn't work:

[code]

[2019-05-15 10:57] #200 closed, assigned to nobody

[2019-05-15 11:02] kevinchappell commented on #200
:tada: This issue has been resolved in version 1.0.11 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/formeo)
- [GitHub release](https://github.com/Draggable/formeo/releases/tag/v1.0.11)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-15 13:50] Arsyad opened #202 "How to add custom conditions or attributes?"
Is it possible to add / edit / delete custom conditions or attributes?

Currently, under conditions there is possible combination such as "If External User is Authenticated Then Target Is Visible". How does the verification of External User session work?

I imagine that we add a hidden field and onRender, we run a script to update the hidden field of the user session (e.g. 1 or 0) then set it up u

[2019-05-20 06:16] AlexBreskin opened #203 "Add Row bugs - IDs not unique, checkboxes and radios merge values, cannot populate values, etc"
Hi there! I'm really close to getting something workable with Formeo but a major requirement we have is the ability for a user of a created form to add multiple of a certain row that the form creator chooses.

Currently I've noticed that the Formeo Render functionality has the option for a form user to duplicate any row with a "+" option. When I tried doing so, I came across several bugs:

1. If I

[2019-05-25 12:11] xitara opened #204 "Example for batch-converting formBuilder2Formeo"
has anyone a code-example for batch-converting with convert-data.js in formBuilder2Formeo?
I have 150+ forms to convert and won't do this by hand.

thx4hlp

[2019-05-26 23:02] xitara opened #205 "Editor error on custom attributes"
when I want add an attribute multiple="multiple" to an input:file-field,
the console tells me:

`formeo.min.js:29 Uncaught TypeError: Cannot set property 'type' of undefined
    at F.itemInput (formeo.min.js:29)
    at formeo.min.js:29
    at Array.map (<anonymous>)
    at F.get (formeo.min.js:29)
    at new F (formeo.min.js:29)
    at Object.addAction (formeo.min.js:29)
    at Object.attr (formeo

[2019-05-27 03:11] #205 closed, assigned to nobody

[2019-05-27 03:17] kevinchappell commented on #205
:tada: This issue has been resolved in version 1.0.13 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/formeo)
- [GitHub release](https://github.com/Draggable/formeo/releases/tag/v1.0.13)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-27 15:11] xitara opened #208 "elements in config will be ignored"
First of all, Formeo now becomes a top WYSIWYG editor 👍

Here my acutal problem:
I want to add a custom- element and tested severial examples but no additional element wil lbe displayed. heres my code:

`    const formData = <?= $this->vars['formModel']->attributes['form']; ?>;

    const editor = new FormeoEditor({
        editorContainer: '.build-form',
        i18n: {
            extension: '.l

[2019-05-29 06:14] xitara opened #209 "feature request: event in FormeoRenderer"
an event "afterRender" or similar were perfect to start some javascript after form is rendered.

[2019-05-29 06:15] kevinchappell commented on #209
Good idea. will add.

[2019-05-29 07:42] kevinchappell commented on #203
@AlexBreskinRecognite Thanks for the detailed breakdown. PR incoming. With the exception of saving user generated duplicates the issues should be resolved, can you test in #210 ?

The renderer will need a method for collecting `userData` (similar to formBuilder) that will allow user generated duplicates to be reloaded. A `userData` getter would probably work best for this rather than allowing user

[2019-05-29 14:05] markandrewkato opened #211 "Is there a way to implement sticky controls?"
Is there a way to implement sticky controls so the container of the controls won't move while scrolling long forms when editing?

[2019-05-29 17:07] xitara opened #212 "little bug with formBuilder converter"
if I convert a form with formBuilder2Formeo react app, the form throws an error on render

`
formeo.min.js:29 Uncaught TypeError: Cannot read property 'width' of undefined
    at g.processColumnConfig (formeo.min.js:29)
    at formeo.min.js:29
    at Array.map (<anonymous>)
    at g.processColumns (formeo.min.js:29)
    at formeo.min.js:29
    at Array.map (<anonymous>)
    at g.processRows (forme

[2019-05-29 19:53] markandrewkato commented on #211
Created a PR Draggable/formeo#213

[2019-05-29 19:53] #211 closed, assigned to nobody

[2019-05-30 02:20] AlexBreskin commented on #203
Thanks Kevin. Just reviewed these changes in #210

1. This appears to be working. Now to just get the new unique IDs and Names to fit into the form!
2. Checkboxes are now filled on their group only, fantastic!
3. Radios can be duplicated without affecting the original, excellent
4. Rendering this on my View Responses method doesn't work, but it wasn't really coded for however this is implemented.

[2019-06-01 05:30] #203 closed, assigned to nobody

[2019-06-01 05:39] kevinchappell commented on #203
:tada: This issue has been resolved in version 1.1.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/formeo)
- [GitHub release](https://github.com/Draggable/formeo/releases/tag/v1.1.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-04 16:54] xitara opened #214 "feature request: name-attribute for checkbox"
a name-attribute für each checkbox in checkbox-group were fine and a field with single checkbox also.
elements: [] will still ignored in config so I can't do it by myself.

[2019-06-04 17:12] xitara commented on #214
done in 1.1.1,  I see

[2019-06-04 17:12] #214 closed, assigned to nobody

[2019-06-04 17:15] kevinchappell commented on #214
@xitara glad you figured it out. as you mentioned 1.1.1 should now have unique names for checkbox groups. More info here: #203

[2019-06-04 19:07] starlightknight opened #215 "Issues attempting to use conditional logic"
Hi Kevin!

First of all, thanks for all your hard work on the widget :-)

I'm attempting to use the Formeo demo to construct a simple form to demo the conditional logic functionality, and I'm currently a bit confused.

I made a 4 simple question form - as shown below. For this form, I was using the latest formeo demo page at the time of writing.

![Simple Form](https://i.imgur.com/r8ogBav.png)

![

[2019-06-06 10:17] maasha opened #216 "Documention: 1 star of 5"
While the original formbuilder is well documented, formeo docs need attention!

Otherwise thanks for a fabulous project!

[2019-06-06 20:58] kevinchappell opened #217 "Bug: textarea resize"
A text area can expand outside of the panel that contains it by using the standard html5 resize.

[2019-06-06 21:00] kevinchappell opened #218 "Label preview changes do not update data"

[2019-06-06 21:02] kevinchappell commented on #215
Agreed, conditions needs work. In fact in heavy use it's apparent that the conditions tab should only have a plain text summary of the condition similar to your explanation with an edit button that launches a modal to actually edit the condition. The new form will solve layout and overflow issues.

Issue: #218

Will be fixed with new UI.

If I understand correctly, when a user changes "equals" to

[2019-06-09 08:20] detygon opened #219 "How to keep form elements id when rendering the formData ?"
Hi, I would like to map form input to the original form elements. However, a completely different id is generated when rendering the form.

[2019-06-10 09:48] detygon opened #220 "input `name` attribute overwritten for checkbox and radios"
# Expected behavior

The name attribute provided during the form creation is used during the rendering

# Actual behavior

The name attribute is overwritten with a random value. The value provided for other input type (select, text) is kept.

# Steps to reproduce

1- Create a form with the form builder
2- Add a checkbox or radio input, add a *name* attribute to the input then save the form data
3-

[2019-06-11 09:06] maasha opened #221 "Rename Price to Number"
It strikes me that the default demo uses Price where Number would be more generic.

![image](https://user-images.githubusercontent.com/1158057/59258766-dddfce00-8c38-11e9-81ad-300e6082b837.png)

[2019-06-11 09:49] maasha opened #222 "Is FormRenderer exported in the npm package?"
If I follow the Docs I can't see how to get access to FormeoRenderer - it is not exported by 'formeo'?

![image](https://user-images.githubusercontent.com/1158057/59261996-b5f36900-8c3e-11e9-9940-621e3aa858c1.png)

[2019-06-11 10:17] maasha commented on #221
Nm, me bad

[2019-06-11 10:17] #221 closed, assigned to nobody

[2019-06-11 14:36] starlightknight commented on #215
@kevinchappell I apologize for the delayed response, I was traveling this weekend :-)

Let me see if I can explain better via a series of screenshots...

Let's start with how things were in FormBuilder...
Here, you had to pick both names and labels for each options.

![FormBuilder](https://i.imgur.com/bqmlHkJ.png)

In Formeo, name/label are combined for a field... but not a value

![FormeoLabels](

[2019-06-11 14:41] maasha commented on #152
I have the same situation. Two form editors on the same page, I save data from the first and load into the second in a new session, and both editors are populated ...

[2019-06-11 17:47] detygon commented on #222
You can import the renderer with `import { FormeoRenderer } from 'formeo'`

[2019-06-11 19:19] #219 closed, assigned to nobody

[2019-06-13 18:11] anitas1209 opened #223 "Want to use Formeo with MVC."
Want to use Formeo with MVC.

[2019-06-16 17:46] detygon commented on #223
Please, clearly explain what you are trying to achieve.

[2019-06-16 19:47] xitara commented on #223
I use it in a MVC-Enviroment. Where is your problem?

[2019-06-16 20:31] detygon commented on #223
Sorry, I was just trying to help.

[2019-06-16 20:54] kevinchappell commented on #223
@mrdionjr , I think @xitara was directing at @anitas1209.

I'm closing due to lack of information. In future we'll have issue templates to guide creation of new issues.

@anitas1209 feel free to re-open with more info.

[2019-06-16 20:54] #223 closed, assigned to nobody

[2019-06-17 10:09] AbhayVermaGit opened #224 "FormEo is not rendering in CodePen,Same issue we are getting when we are integrating with MVC application."

[2019-06-17 10:28] AbhayVermaGit commented on #224
following is the demo URL what we are getting documentation https://codepen.io/kevinchappell/pen/NAXoRw, There fromeo is not rendering, When we are inspecting browser we found script error in console "Formeo is not defined" , Same issue we are getting when we are integrating it with mvc application .
Following are the code what we are using while integrating in MVC application.

@{
    ViewBag.Tit

[2019-06-17 11:11] xitara commented on #224
You need to load the right ressource in Codepen.
`https://draggable.github.io/formeo/assets/formeo.min.js`
not exists 'cause /js/ is missing

[2019-06-17 11:25] AbhayVermaGit commented on #224
@xitara thanks for your response, but we are getting same issue when we are using in MVC application ,in out code we provided right url of js (formeo.min.js) and we are getting same issue "Formeo is not defined"
we already shared our code what we are using , can you please look at our code, Where we are doing mistake?

[2019-06-17 11:30] xitara commented on #224
You have to import FormeoEditor or FormeoRender, i think.

[2019-06-17 12:04] AbhayVermaGit commented on #224
@xitara, i am not using this code in react/node/angular project , I am using just only java script and rendering formeo in our(MVC) application so please let us know how to import FormeoEditor or FormeoRender?

[2019-06-17 12:08] xitara commented on #224
`var formeo = new FormeoEditor({ ...`
`var formeo = new FormeoRenderer({ ...`

[2019-06-17 13:22] AbhayVermaGit commented on #224
@xitara, please check attached screen shot ,we imported  FormeoEditor we did not getting any error in browser console , but Form is not rendering, we are getting only horizontal line, if you have any sample code, please send us by which we can render fromeo.

![FormeoEditor](https://user-images.githubusercontent.com/50825466/59606917-e3a14c00-912f-11e9-9393-88f7876f242f.png)

[2019-06-17 13:53] xitara commented on #224
use editorContainer instead of container

[2019-06-17 13:57] AbhayVermaGit commented on #224
@xitara Thanks for your support, Now it's working fine.

[2019-06-17 16:22] #224 closed, assigned to nobody

[2019-06-17 16:48] kevinchappell commented on #224
@xitara thank you! I will update the codepen.io

[2019-06-19 14:28] AbhayVermaGit opened #225 "Unable to render form designed by formeo and also not able to get html of designed form."
`Following are the code what we are trying to render designed form in a div “formeo-render” on button click “btnRenderForm”, Form is not rendered we are getting error “u.container.appendChild is not a function” in browser console, `

**`<script src="https://draggable.github.io/formeo/assets/js/formeo.min.js"></script>
<link rel="stylesheet" href="https://draggable.github.io/formeo/assets/css/forme

[2019-06-19 16:11] xitara commented on #225
what's about debugging, for example

`console.log(formeo.formData);`

in FormRender()?

[2019-06-19 16:29] AbhayVermaGit commented on #225
@xitara , Thanks for your response, following are attached screen shot of  console.log(formeo.formData);

![Formeo-render1](https://user-images.githubusercontent.com/50825466/59783144-1dfc1c00-92dd-11e9-911f-b5ff134d7787.PNG)
![Formeo-render](https://user-images.githubusercontent.com/50825466/59783153-22283980-92dd-11e9-89a7-8eb260d56d89.PNG)

[2019-06-19 16:58] xitara commented on #225
ok, I looked into my own code. renderContainer needs an element, not a selector. try

`renderContainer: document.querySelector('#formeo-render'), `

this could be the problem

[2019-06-19 17:30] AbhayVermaGit commented on #225
Thanks you @xitara , it's working fine and now i am able to get html of rendered form.

[2019-06-19 18:00] kevinchappell commented on #225
@xitara Thank you for identifying this bug. PR opened #226

[2019-06-19 18:05] #225 closed, assigned to nobody

[2019-06-19 18:14] kevinchappell commented on #225
:tada: This issue has been resolved in version 1.1.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/formeo)
- [GitHub release](https://github.com/Draggable/formeo/releases/tag/v1.1.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-27 13:01] wimurk commented on #216
+1 the docs are terrible

[2019-06-27 17:01] AbhayVermaGit opened #227 "Unable to create a control in Formeo like inputSets in formbuilder,"
I need a custom-control in which we can group multiple controls. following are screen show what we want to achieve in one control , We find only the way by which we can create a custom control, but we are unable to make a set of control and add it in control list,

![Input-Groups](https://user-images.githubusercontent.com/50825466/60284742-f6830000-9929-11e9-8a9e-88c9ec467bb9.PNG)

  I tried same

[2019-07-01 12:08] AbhayVermaGit opened #228 "issue while creating custom control."
hi @kevinchappell i need a control having ability to select an image and drawing on it, i already have html/css/js for that , i need to add this as custom control in formeo, i fallowed same pattern to create Custom control in formbuilder to create a custom class [https://formbuilder.online/docs/formBuilder/controls/](url) and also i complied using [https://babeljs.io/repl/](url) and provide refere

[2019-07-01 13:18] AbhayVermaGit opened #229 "How to use Input Groups in formeo?"
hi @kevinchappell  i have requirement to add a control in formeo having group of control , i found we can achieve the same using input groups, but i did't find any example to use that please provide  us any example how to use that.

[2019-07-01 21:55] beamwerks opened #230 "any luck running in ie11?"
i was able to get a previous version running using some clues from this post
https://github.com/Draggable/formeo/issues/84

but with 1.1.2, i don't get any errors from ie11, it just simply doesn't load anything into my editor div.  no errors are thrown so not sure where to start.  works great in chrome though!

[2019-07-01 21:57] kevinchappell commented on #230
Can you share your formeo code? I wonder if this is still related missing Object methods

[2019-07-01 22:25] beamwerks commented on #230
i stripped it down to the simplest version and put in cdn links.  the renderer works fine in ie, so it's just the editor that isn't happy.  by the way, you have a paypal or other way i can send you some lunch money?  this has really been a nice addition to my websites

`<html>`
`<body>`
`<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>`
`<link href="https://draggable.github.io/f

[2019-07-05 16:40] AbhayVermaGit opened #231 "Documentation"
hi @kevinchappell, When you are going to release documentation?

[2019-08-23 19:12] Epandudev opened #232 "How to add checkbox or radio buttons in textbox editing"
Hi everyone,

I want to add checkbox/radio/select/button/upload fields in textbox editing. Can any one help asap.

[2019-08-25 10:52] Epandudev opened #233 "How to add attributes inside of the toggle in edit not in alert"
Hi @kevinchappell ,

This is really awesome tool, Thanks for your work. Can you please help me to customize the controls and I need to add attributes and new features in Formeo.
I just need help from you, How to place attributes(like data-type=text, if data-type=text I want to add character limit to that control if data-type=numeric I want to add min and max length for the control. I want to remov

[2019-08-25 13:02] Epandudev commented on #112
I'm also looking for this @kevinchappell . If I want to add attribute in edit panel.

[2019-09-03 09:14] DivineLawnmower commented on #208
@xitara Not sure if you worked it out but for anyone else:

Custom elements need to be added inside a "Controls" property as below:

`  var formeo = new FormeoEditor({

        editorContainer: '#formeo-editor',
        svgSprite: 'https://draggable.github.io/formeo/assets/img/formeo-sprite.svg',
        dataType: 'json',
        debug: true,
        actions: {
            debug: true,
        },

[2019-09-03 22:09] xitara commented on #208
i'll try it, thx

[2019-09-05 05:44] Peter-john1 opened #235 "FieldData getting duplicated"
While adding fields inside columns, fields data getting duplicated inside **formdata**. How to fix?

[2019-09-10 05:41] Arsyad commented on #202
@kevinchappell Would you be able to advise on the above?

[2019-09-13 14:11] DivineLawnmower opened #236 "Possible to hide custom questions from field list after being added to the form?"
Hi,

Previously, in FormBuilder I was able to add "d-none" to the Class Names of fields after they were added, and toggle this same class when they were removed. However, I cannot for the life of me find any similar sections of the code where I can do this or access the elements required to being doing this.

If anyone could point me in the right direction that would be great.

[2019-09-19 07:13] ksj9107 opened #237 "how to use this plugin in my project"
I installed formeo in my project by using npm
and I copied this plugin to my "project/src/main/webapp/js" directory.
I import formeo into jsp file and run the server. myproject show formeo to me.
![image](https://user-images.githubusercontent.com/40622583/65221478-11fc4200-daf8-11e9-9728-dbef8844a4c5.png)
but I can not do anymore... though want customize on my project..

I want to know detail usag

[2019-09-19 08:45] marcus-at-localhost commented on #237
Right here: https://github.com/Draggable/formeo/tree/master/docs

[2019-10-07 23:11] ianwieds opened #238 "Cannot add custom field"
Hi. I am trying to add a custom field but cannot find any documentation on it. Can someone help me with what is wrong with this code? The custom element is not rendering in the editor interface

[code]

[2019-10-08 01:56] ianwieds opened #239 "Can we add custom groups?"
We are developing a form submission service and would really like to utilize Formeo to [allow our users to build forms](https://slapform.com/form-builder/)! It's so cool!
Is there a way we can add custom groups in the editor sidebar (and then ideally add custom elements to the groups)?

Here's what I tried, although it doesn't work
[code]

[2019-10-19 12:33] xitara commented on #208
late reply, but it works

[2019-10-19 12:33] xitara commented on #238
take a look at my issue:

https://github.com/Draggable/formeo/issues/208

[2019-10-28 16:02] mrjacobbloom commented on #239
I got this to work:

[code]

[2019-10-29 04:59] mrjacobbloom commented on #216
Would you guys accept a PR with some cleaned up/improved docs?

[2019-10-29 21:48] kevinchappell commented on #239
@iwiedenm slap forms looks awesome!

@mrjacobbloom thanks for responding with the answer.

Adding groups post initialization was also planned but never completed.
https://github.com/Draggable/formeo/blob/master/src/js/components/controls/index.js#L324

[2019-10-29 21:48] #239 closed, assigned to nobody

[2019-10-29 21:49] kevinchappell commented on #231
some docs have been added. more are still required though

[2019-10-29 21:49] #231 closed, assigned to nobody

[2019-11-03 19:54] #208 closed, assigned to nobody

[2019-11-13 12:49] vt-appsvolt commented on #227
@kevinchappell
Is there any way to add custom-control as mention above?

Thanks in advance.

[2020-01-06 19:29] sxyfish commented on #228
Hi @AbhayVermaGit , I am also working on custom control. Can you let me know whether you have any progress on this now? If so , can you please share the way of doing this?
If anyone spotted this post and have any luck on this, can you please let me know how you do it?Many thanks.

[2020-01-06 19:35] sxyfish opened #243 "How to custom the position of the label of each control"
Hi , is there any way to custom the position of the label of each control ?
For example, the label of a input text is on top of the input text field, is there any way to locate the label to the left or right of the input field? Do I need to add a custom control such as 'label' to do this? Thanks in advance.

[2020-01-07 02:59] sxyfish commented on #237
Hi @ksj9107 , I am also trying to integrate this module into my project but got stuck. First I installed the module through npm, then  created a very simple html file with a .js file. In the .js file I used the code in the document:
var formeo = require('formeo');
var FormeoEditor = formeo.FormeoEditor;
var FormeoRenderer = formeo.FormeoRenderer;
var editor = new FormeoEditor();
var formData = edi

[2020-01-14 03:56] pyrareae commented on #194
DnD on firefox 72.0.1 (manjaro linux) has issues with drag and drop from the element list. It works, but the mouse release events don't always seem to be registered and the element keeps following the mouse after releasing until there is a second click. On chrome it works perfectly fine.

[2020-01-18 22:54] dougauerbach opened #245 "Enable "Other" Let users to enter an unlisted option"
FormBuilder provides a feature for checkbox and radio groups:

`Enable "Other" Let users to enter an unlisted option`

Ideally this becomes a feature in a subsequent version of Formeo, but it seems like this project is somewhat unmaintained as of early 2020.  Is this something that can be implemented with a custom control? Has anyone worked this out?

Thanks :)

[2020-01-22 17:50] dougauerbach opened #246 "Editor: Removing an item does not fire the onUpdate event"
When using the form editor with any elements on the canvas, removing the element does not fire onUpdate, which makes it impossible to respond to this event with a function specified in the form options.

However, when adding or changing an element on the canvas, these actions fire the onUpdate event, as one would expect, which is great.  It would be very helpful if removing an item from the canvas

[2020-01-30 22:47] onlinecheckwriter-zz opened #247 "How to define name of textfield"
How can we provide custom name  of the text field instead of randomly generated name

[2020-02-14 05:38] dougauerbach commented on #229
I second this question. It would be helpful if there were guidance on how to merge the answers to a form back into an instance of an empty form, to enable the rendering of a form that has already been answered.  I've written custom code to do this so far, but am running into the next hurdle of trying to figure out how to merge multiple rows of answers into a (blank) rendered form.

[2020-02-17 15:42] Mareenag opened #248 "How do I use formeo in my project manually, without npm?"
I have followed documentation given here but it is not works for me. Can anyone guide me please.?

[2020-02-18 08:04] marcus-at-localhost commented on #248
Can you setup a jsfiddle.net to show what you have tried?

[2020-02-18 11:37] Mareenag commented on #248
Thanks for your reply @marcus-at-localhost . I had some JS file conflicts on my system. I fixed, now it works fine.
Thank you.

[2020-02-19 11:09] marcus-at-localhost commented on #248
@Mareenag glad you figured it out. Please close the ticket in that case. Thanks!

[2020-02-19 12:04] #248 closed, assigned to nobody

[2020-02-23 20:11] kevinchappell commented on #247
This can be done through the UI, are you looking for a programmatic way to add custom name attributes?

[2020-03-11 10:45] mitesh-prajapati08 commented on #152
@kevinchappell any updates on this issue? i am facing same issue while i created three different objects with their unique id but form elements populated into last object only.

[2020-03-14 23:41] dougauerbach opened #256 "Custom attributes do not render on Checkbox Group or Radio Group controls"
FormeoEditor allows custom attributes to be added on Checkbox Group and Radio Group controls, but FormeoRenderer does not emit the attribute name/values onto the resulting HTML.

Was hoping to use this for adding support for inline forms (e.g., horizontal display of checkbox or radio options).

Perhaps redundant with #85

[2020-03-17 03:53] dougauerbach commented on #229
Is there a way to obtain the form data from the renderer? After adding rows, the dom is manipulated, but how is it possible to obtain this data for rendering into a form later?

[2020-03-17 11:07] NomanAhmed6352 opened #257 "Javascript Quick Start"
Please provide me sample materials to start off as there is some major lacking in documentation .
What about custom control option, how are we gonna do that? Also how to fire database service in **Log Json** button event to save it into my DB.

what mechanism to follow to render it from DB?

@kevinchappell

[2020-03-20 10:53] NomanAhmed6352 commented on #247
@kevinchappell  there is two way... one is dmeo.min.js and other is formeo.min.js... I want to integrate it in my project by using pure vanilla javascript..

Can you guide me how can i make it more customized? how can i add my own component ? any guide on how to change styles etc?

[2020-03-20 17:50] dougauerbach opened #258 "Conditions are not fully implemented and which conditions are implemented is not documented"
Conditions are not fully implemented and which conditions are implemented is not documented. Great to see radio/checkbox/select conditions are partially implemented, but would be awesome if someone in the know could document which conditions are implemented and which are not.

[2020-03-20 18:31] sabeernelliparamban commented on #247
programmatic way @kevinchappell

[2020-03-22 21:22] NomanAhmed6352 opened #259 "new Formeo() object doesn't work"
"var formeo = new Formeo() " is not working

i am using following script:
    <script src="https://draggable.github.io/formeo/assets/js/formeo.min.js"></script>

[2020-03-24 13:05] NomanAhmed6352 commented on #93
I want to set json data from database as we would use in FormBuilder simple actions.setdata  but there is no such option here..

I am experiencing error **"Uncaught ReferenceError: Formeo is not defined"**.

Can someone guide me where i am lacking.

  var formeo = new FormeoEditor(formeoOptions);
    var renderedForm = new FormeoRenderer({ renderContainer: '#formeo-render', });
    function FormRe

[2020-03-26 15:38] NomanAhmed6352 opened #260 "Custom Control content Add Dynamically"
How to add or change custom control content dynamically ..I have created custom table rows and want to add or remove column and row upon user selection.

 {
                tag: 'div',
                attrs: {
                    // style: 'background-color:red;',
                    class: 'form-group',
                },
                config: {
                    //disabledAttrs: ['type'],

[2020-04-20 11:44] tacman opened #262 "t is null error when setting visibility on conditions"
I want to only ask a pregnancy question if the answer to gender is female.  My form and conditions, on https://draggable.github.io/formeo/ (v1.4.0)

![image](https://user-images.githubusercontent.com/619585/79747726-31e82400-82da-11ea-9e6d-2a833a36d103.png)

When rendering the form, I get an error and the field is still visible:

![image](https://user-images.githubusercontent.com/619585/79747814-5

[2020-04-20 16:07] tacman opened #263 "How to get submitted values from a rendered form"
In Formbuilder, when you got the data there was a 'value' property, that had the value the user had entered in the submitted form.  I can't seem to find how to do that in formeo.

            renderedForm.render(formData);

After the user interacts, how to I get the values?

          let answers = renderedForm.formData; // <-- in FormBuilder, values were set.  not in Formeo.

Thanks.

[2020-04-22 20:49] AbdallahJg opened #264 "Json loaded but not shown on editor"
I'm having a problem loading json to my FormeoEditor, the json gets loaded and i can see it in console log, but nothing is shown on the editor.
`var editorOptions={`
            `editorContainer:document.getElementById('editorContainer'),`
            `events: {onSave:this.render},`
            `sessionStorage:true,`
       ` }`
       ` this.editor = new FormeoEditor(editorOptions,json) ;`
This i

[2020-04-24 15:32] MontaguSteps opened #265 "Editor not displaying in MS Edge"
I'm trying to get an absolute bare-essentials example of the Formeo editor working, but can't get it to display in MS Edge.  Below is the source of my minimal HTML page.  The editor displays and works in Firefox and Chrome, but in MS Edge I get a blank page and the console reports "Unspecified error" in formeo.min.js at (5,19275).  Is there a problem in Formeo or am I doing something wrong?

[code

[2020-04-26 12:52] tacman opened #266 "Documentation error"
https://formeo.readthedocs.io/en/latest/options/

[code]

The edit on github link is broken, maybe it needs to be republished?  I have some other documentation edits I'm happy to make when that works.

On a related note, it would be better (IMHO) if the container/editorContaine could be a jquery object (or a DOM element?).  Right now my class code has the very hacky:

[code]

Obvious, I'd rather s

[2020-04-26 13:46] tacman opened #267 "Equivalent of FormBuilder's userTypeAttrs"
It appears that Formeo doesn't have many of the element attributes that FormBuilder does.  Am I missing something?  For example, I'd like to a user Type attribute, and limit the field values:

https://formbuilder.readthedocs.io/en/latest/formBuilder/options/typeUserAttrs/

Also, FormBuilder had a "help" field for a description of the field, how does that work now?  I see that user can add an attri

[2020-04-28 21:07] dougauerbach opened #268 "Formeo FormBuilder 1.3.0 and 1.4.0 do not work in Safari for iOS"
Visit https://draggable.github.io/formeo/ using Safari on iOS (iPhone).

Open web inspector console. Observe error message:

Unhandled Promise Rejection: TypeError: undefined is not a constructor (evaluating 'new window.ResizeObserver')

Version 1.2.3 does work, however.

[2020-04-30 14:53] MontaguSteps commented on #265
Further to this, the demo page [https://draggable.github.io/formeo/](https://draggable.github.io/formeo/) also fails to display the form builder when viewed in MS Edge, or IE.

[2020-04-30 19:45] tsawler opened #269 "How to use elementOrder?"
This is a great package, and it works very well!

I'm trying to figure out how to make `elementOrder` work. In the example below, I have added two elements, email and password, and removed file upload. I think I have the syntax right, but something must be wrong, since no matter what I do the two I've added appear at the top of the list.

Any suggestions? Thanks in advance for any help you might b

[2020-04-30 20:20] tsawler commented on #269
Actually, never mind. It worked. It must have been a cache thing.

[2020-04-30 20:20] #269 closed, assigned to nobody

[2020-05-01 16:40] tsawler opened #270 "Required not working for radio, checkboxes"
Hello:

Making a checkbox group, radio group, <s>or textarea</s> required seems to be non-functional. Although the field shows up as required in the editor, and the correct value is included in the generated JSON file, the rendered form html does not include the "required" attribute on these three controls.

I'll see if I can figure out where it is supposed to be applied in the source, but you can

[2020-05-01 16:51] tsawler commented on #270
Further info:

To duplicate, go to [the online example](https://draggable.github.io/formeo/) and drag in a text input and a radio group. Make both required. Generate the form, and then inspect the generated HTML. The text input has the required attribute, but the radio group does not.

[2020-05-02 09:50] tsawler commented on #265
I have no problem with MS Edge...

[2020-05-04 16:03] MontaguSteps commented on #265
Interesting... Windows ver?  I'm seeing this issue on Win 10 version 1909 (10.0.18383).  Tried twiddling smartscreen and popup blocker options in Edge, but no difference.  Couldn't see any other settings that looked like they might be relevant.
On the Formeo demo page I'm seeing different errors in the javascript console compared to with my test page as per the first post.  On the demo page I get:

[2020-05-07 20:47] Gfellha opened #272 "How to add file search to an embed type element"
This isn't so much of an issue, but more so how to do something. I'm currently creating an embed type element, and what I want is to add an option to search, and grab the file, using that file path for the src attribute to display a PDF on the page. I was wondering how I would go about doing this. My Embed code is this(or atleast the portion outside of elements section):
`tag: 'embed',

[2020-05-09 13:08] Gfellha opened #273 "How to modify Formeo"
So, I followed the contributing guidelines to develop Formeo, and change things to suit my needs. Though I had a few questions--when I modify the source code and try run formeo none of my changes are implemented, and my second question in the index.html that generates the webpage, it runs a minified version of the script at:

`dist/demo/assets/js/demo.min.js`

but I do not have such a location on

[2020-05-11 14:31] nproto commented on #270
The same problem exists for all extra attributes added to radio and checkbox controls. They are not applied to the field by the form renderer.
The issue seems to exist since June 2017 see #256 and #85

[2020-05-14 00:05] sops21 commented on #118
Is there a way to add the "tag" name show the same way that it does when you specify "Required" or "type". In bold next to the options?

This is how it displaying using your example:

![Capture](https://user-images.githubusercontent.com/706082/81878090-f77a4b80-9554-11ea-904c-89f49354644c.PNG)

[2020-05-14 17:54] sops21 commented on #270
I was able to get attributes and required working for checkboxes (I didn't tryradio boxes). I added a custom control with the following config:

`{
      tag: 'input',
      attrs: {
        type: 'checkbox',
        required: true,
        className: 'over13'
      },
      config: {
        label: 'Custom Checbox',
        disabledAttrs: ['type'],
        hideLabel: false
      },
      meta: {

[2020-05-14 18:10] tsawler commented on #270
This looks helpful! Thanks.

[2020-05-16 13:14] Gfellha opened #274 "How to add additional CSS libraries to Formeo"
Hello, I'm currently trying to integrate the bootstrap CSS javascript addition to formeo(since I want to add an option to do dropdowns to the, and cards to the forms I make). I was wondering how I to add to CSS files to--since trying to install and link the file locations isn't working.

@kevinchappell

[2020-05-19 01:42] gotounix commented on #103
@kevinchappell
I think it's a better way to split form structure and userData, and let userData to be an option, people can generate form with formData and userData.

[2020-06-01 16:38] sops21 commented on #246
I just did a branch that patches this. Its kinda hacky, but it works until this get official support:

https://github.com/sops21/formeo

[2020-06-08 17:56] craigcooper11 opened #275 "Radio group options name not updating"
https://draggable.github.io/formeo/

Steps:

Drag and drop a Radio Group input. Change the name of the radio group options and click save, then render form. The rendered radio group does not reflect the name change.

![image](https://user-images.githubusercontent.com/37030956/84063990-88431c00-a987-11ea-88e0-f477fbc3ae10.png)

[2020-06-08 19:08] zaydons commented on #275
I was also able to replicate this, might end up digging through the source later to see if I could submit a PR

[2020-06-19 11:29] buseodaci commented on #259
@nomi89 Did u solve that ? I'm also new and didn't get that.

[2020-06-25 14:36] NomanAhmed6352 commented on #259
No, I remembered i changed strategy and applied some alternate solution. Tell me your objective hope it will be of some help.

[2020-06-26 06:29] buseodaci commented on #259
I want to use Formeo in my Angular Project. I get **formeo.min.js** and **formeo.min.css** from **formeo** which under the node_modules. In docs they say i use this code but its give many errors.
![image](https://user-images.githubusercontent.com/25960852/85827255-9c13be00-b78e-11ea-9ed2-d5ce883292a9.png)
I found  [demo.min.js](https://github.com/pankaj-git/formeo_angular/blob/master/src/assets/js

[2020-06-29 04:26] buseodaci commented on #92
This error still continus in Angular @kevinchappell

[2020-06-30 07:14] buseodaci commented on #184
@kevinchappell @alchemist8848 any improvement ?

[2020-07-07 00:28] eradin opened #276 "Extend controls"
I want to extend a header control by adding an option for "emphasis" (bold, italic etc.) via a drop down list.  The result should be either a separate tag attribute or perhaps even a class (just something I can drive via css).  The button control has this ability OOB.  Is this possible via config object?

[2020-07-07 18:55] eradin opened #277 "Visability by Group"
After playing around with the visibility conditions, it would be nice if you could show/hide a group or set of fields as to opposed to creating a condition for each field in the group.  If you add those fields to a row container, this may be fairly easy to do  by adding a name attribute to the row and having that reference appear in the source condition dropdown.

[2020-07-07 19:24] eradin opened #278 "Layouts display labels"
Dragging a row or column (with or without content) renders with "row" and "column" labels.

Version 1.4
Replicate: use the demo.  Simply drag a row and column into from the layout pallet and click render.  The words row and column appear.

[2020-07-07 19:47] eradin opened #279 "Feature: Add a add column action to row menu"
Adding row columns seems confusing to me.  It may be more intuitive to add an add column action to the row menu and have the new column added to the end.  We have a way to delete and move columns but adding is not obvious.

[2020-07-07 19:55] eradin commented on #276
To add to this question, the issue is how do you extend an element?  For example, how would you apply a framework (e.g. bootstrap classes) without replicating the bootstrap css?  One way would be to post process the rendering and "fixup" the classes and attributes of the field elements.  A better way would to make sure the elements have the required attributes and classes during design (and hence,

[2020-07-08 13:20] MitchellVermaning opened #280 "Feature: Select form control multiselect"
Hello,

Thank you for this great library.

I added to a new form control the attribute `multiple` on the HTML element `select` ([form/select.js](https://github.com/Draggable/formeo/blob/master/src/js/components/controls/form/select.js)). When I set two options to `selected`, only the last selected option will be highlighted.

--

HTML preview:
![image](https://user-images.githubusercontent.com/967

[2020-07-08 17:20] eradin opened #281 "Feature: event/action upgrades"
Both the events and actions systems are inadequate.  As noted before, onAdd never fires for new rows, columns and fields.  In addition, the data that it passes is simply the dom markup.  It needs better object info like type of field (for new fields) and panel info for updated Attributes and Conditions.  Field type can only be extracted from the markup which is ugly and subject to change.

In addi

[2020-07-22 14:20] pritha2910 opened #282 "Need to integrate with CKEditor5 Document Build"
Hi Team,

I am developing a project for online document creation. For that I am using CKEditor5 Document Build. Is it possible to integrate formeo with CKEditor5 Document Build?

[2020-07-29 16:52] Jeffwahl opened #283 "Change Content"
I am trying to import an old form using selenium.
I am able to do everything I need except update H and P tags and their content.
I can see the data in the editor.formData but I am not able to update the contents and save it.
Is there another way I can use javascript to set the contents and save it?

Thanks for any help

Jeff

[2020-08-15 15:31] rcackerman opened #284 "Suggestion for docs on how to import css"
Hi - I have a short suggestion for adding to the docs! This was something I struggled with a bunch.

For the main usage documentation, add one line:
[code]

(I'm adding this as an issue because I'm not super familiar with different packaging systems in javascript. This was required in webpacker with Rails 6.0.2.2.)

[2020-09-22 21:05] rustymcg9000 opened #287 "Conditional code not working?"
I'm trying a simple condition, showing a text field based on the selection in a radio group, but as can be seen from the demo, it doesnt work ? Am i setting the value incorrectly ?

![image](https://user-images.githubusercontent.com/40373510/93937348-75591b00-fcdc-11ea-8cfe-980b1f04123f.png)

[2020-09-22 21:35] rustymcg9000 commented on #287
Looks like I was rendering the HTML and not using the FormeoRenderer.

[2020-09-22 21:35] #287 closed, assigned to nobody

[2020-09-22 23:24] rustymcg9000 opened #288 "Conditional rendering of fields breaks when more than one field referencing another"
I would like a radio button with yes no to drive 2 following fields. A yes causes the first field to display and the second to hide. A no causes the first to hide and the second to display. I set this up as follows:

![image](https://user-images.githubusercontent.com/40373510/93947157-e8b85800-fcef-11ea-9e17-43545f95a5ca.png)

When i come to save or render I get the following error in the js conso

[2020-09-23 07:30] raulsh commented on #92
I had the same error

[2020-09-24 03:54] shaunakv1 commented on #284
I can vouch for this. Form editor renders wonky in rails without importing the css. Def needs to be part of the documentation.

[2020-10-13 04:13] doobeedoodoo commented on #103
@kevinchappell
Were you able to implement this? Thank you.

[2020-10-14 00:59] doobeedoodoo commented on #263
Hello, were you able to figure out how to extract the submitted values?

[2020-10-14 11:36] tacman commented on #263
I gave up on Formeo and went back to FormBuilder.

[2020-11-04 11:23] DivineLawnmower opened #291 "Input event on Select options is causing input focus loss after each keypress"
Something has changed recently which means that the input event on Select control Options is causing the input box to lose focus after each character is input.

I am currently using formeo via:
   <script src="https://draggable.github.io/formeo/assets/js/formeo.min.js"></script>

Please see video for details:
https://i.gyazo.com/23d2607ca2a1bbb191b4cc4528e17408.mp4

Better video:
https://i.gyazo.c

[2020-11-04 18:59] kevinchappell commented on #291
@DivineLawnmower thanks for opening this issue. it does seem the input is re-rendering. i'll look into what changed there.

[2020-11-10 02:42] shaunakv1 commented on #215
@kevinchappell  Any update on this issue? Looks like this is still broken.

[2020-11-19 18:44] BintLopez commented on #284
+1 to this

[2020-12-11 16:33] yoshie902a commented on #274
I have the same requirement. Would love some better documentation specific to CSS and integrating with Bootstrap 4.5. @Gfellha, did you figure it out?

  The Library seems awesome, but I could not find enough documentation to figure it out completely. If there is documentation, please send link.

[2020-12-12 03:40] yoshie902a opened #296 "sortablejs@1.10.2: Depreciated"
npm WARN deprecated sortablejs@1.10.2: Object.assign was not transformed during the build of sortablejs, so it won't work in browsers where this does not exist (for example IE11). Please downgrade your version to 1.10.2 to keep supporting <=IE11 or upgrade to >2.0 where IE will no longer be supported.
    npm WARN saveError ENOENT: no such file or directory, open '/Users/us/formeo/package.json'

[2020-12-13 03:20] yoshie902a opened #297 "Ignore"
Ignore.

[2020-12-13 03:22] #297 closed, assigned to nobody

[2020-12-14 04:26] yoshie902a opened #298 "window.JSON.stringify($(fbRender).formRender("userData"))???"
After reviewing https://formbuilder.online/docs/formRender/actions/userData/

In Form Builder you can use the below code to get the form and data merged together to store in database.

      `window.alert(window.JSON.stringify($(fbRender).formRender("userData")));`

 However, it does not work with Formeo. What is the formeo way of doing this?

[2020-12-14 13:57] hackontech commented on #291
Any update on this?

[2020-12-14 23:52] Sathieswar commented on #291
This issue is occurring for Radio and Checkbox Control as well

[2020-12-28 13:55] Baha2Odeh opened #299 "undefined events with angular"
i am trying to get it work with angular using this way
`ngOnInit(): void {
        this.editor = new FormeoEditor({
            editorContainer: '#formeo-wrap',
        });
    }`

but the events are not working

`
Uncaught TypeError: Cannot read property 'formeoLoaded' of undefined
`
`
Uncaught TypeError: Cannot read property 'onUpdate' of undefined
`
`
Uncaught TypeError: Cannot read property 'o

[2020-12-29 22:26] rezahmady commented on #291
Please fix this bug as soon as possible

[2020-12-30 03:26] #291 closed, assigned to kevinchappell

[2020-12-30 03:27] kevinchappell commented on #291
sorry for the delay, this should be fixed now

[2020-12-30 03:28] kevinchappell commented on #291
:tada: This issue has been resolved in version 1.6.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/formeo/v/1.6.2)
- [GitHub release](https://github.com/Draggable/formeo/releases/tag/v1.6.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-12-30 05:05] #296 closed, assigned to nobody

[2020-12-30 06:11] rezahmady commented on #291
thank you very much
@kevinchappell

[2020-12-31 17:44] rezahmady opened #303 "Uncaught TypeError: Cannot read property 'firstChild' of undefined"

[2020-12-31 17:56] #303 closed, assigned to nobody

[2021-01-21 06:16] jayid97 opened #304 "Can i add image ?"
Currently i was asked to add image part in formeo . So i would like to know if it is possible to add image inside form or not ?

[2021-01-27 15:48] robert-haynes opened #305 "Panels are resized to huge height"
I have used the latest drop and when I construct the editor using:

 editor = new window.FormeoEditor({
      editorContainer: '#formeo-editor1',
      debug: true,
      svgSprite: 'https://draggable.github.io/formeo/assets/img/formeo-sprite.svg'
   },{});

The panels inside the div are huge - in fact often 5000px high and sometimes up to 50000px high. I have tried to set max-height on the owning

[2021-02-01 21:16] claudiopj commented on #122
Hi, can you share your code for tabs on formeo? Please, i like very mutch!!!

[2021-02-16 21:23] rodrigoGA opened #306 "The preview does not match the options."
I have found several bugs when editing a form.

1- open the sample application https://draggable.github.io/formeo/
2- create a Radio Group
3- change the name of some option, for example "Radio 2" to "new radio 2"
4-  press the edit button radio Group / options
**BUG**:  The preview does not match the options.
5-  remove option 1 and remove option 3
6-  create 2 new options
7- press edit button.
**

[2021-03-28 23:59] bsappey commented on #275
@zaydons did you have any luck with this? I am still seeing the same issue in the current build.

[2021-04-05 21:00] dougauerbach commented on #276
Have you tried this approach? This is from the Formeo source code. It provides a drop-down box of attribute value choices in the editor.

[code]

[2021-04-06 14:00] argus-cs opened #307 "custom attrs dont show label on edit"
several custom attributes just show the value, making it difficult to identify them
![image](https://user-images.githubusercontent.com/8759877/113722426-c9e74500-96c6-11eb-9d64-3729944feee8.png)

[2021-04-20 17:13] dougauerbach commented on #307
I agree, this appears to be a bug.
The name of the custom attribute will appear in the placeholder. This is not helpful if there is a non-blank value in that custom attribute, however.

[2021-04-20 17:15] dougauerbach commented on #306
Can you try clicking into the settings for each of the radio or checkbox options, rather than typing the value directly into label? This is the workaround we have had to use to deal with this bug.

[2021-04-20 17:16] dougauerbach commented on #275
I agree, I'm getting customers complaining about this. Definitely a bug. The workaround is to enter the settings for each option, rather than just typing into the label.

[2021-04-20 17:56] rodrigoGA commented on #306
I understand, but it is still a bug.
Maybe it would be better if editing is disabled in the preview to avoid problems.

[2021-04-20 20:25] dougauerbach commented on #306
I agree. The contenteditable=true attribute is driving this.

We added CSS to make the controls look non-editable. Suboptimal, of course,
but it doesn't invite the user to find the bug.

CSS:

        .formeo.formeo-editor .f-radio [contenteditable]:after,
        .formeo.formeo-editor .f-checkbox [contenteditable]:after {
            border-bottom: none;
        }

On Tue, Apr 20, 2021 at 10:56 A

[2021-05-04 10:15] Iuliia21 commented on #307
It's due to the translation. II added an attribute via config file and I got the same issue (it works correctly if using  btn '+Attribute'). Adding the translation solved this problem for my  project :)

[2021-05-05 04:21] dougauerbach commented on #307
When I use the +Attribute button, any custom attributes are not rendered as labels, but rather as placeholders. Thus they are not displayed if a non-blank attribute value is supplied.

[2021-05-20 16:28] jbenjamin commented on #152
Does anyone was able to solve this problem?

[2021-05-20 16:39] dibwas commented on #152
I kind of created a lot of work around 2.5 years back to get around this and somehow completed the project.

[2021-05-20 16:48] jbenjamin commented on #152
Do you mind explaining how did you solve it?

[2021-07-19 03:09] Etepeus opened #310 "Formeo Conditions"
When creating conditions the value field only allows one word and does not allow spaces - can this be changed/fixed.
Also when you create a condition and then use the option to Make this row and input group the conditions only works on line one not on any added line
The attachment outline the issue and how we have tried to use conditions.
[Bugs in Form Builder.docx](https://github.com/Draggable/fo

[2021-08-02 21:00] jcmecham commented on #103
@kevinchappell
I was wondering whether [this feature](https://github.com/Draggable/formeo/issues/103#issuecomment-385778865) has been implemented? I would love to use it.

[2021-08-11 19:37] serhii-f8 opened #311 "is there a Formeo based solution to implement the Wizard?"
I found an old discussion here: https://github.com/vue-generators/vue-form-generator/issues/503

but the solutions discussed there do not seem to be complete.

Any advice?

[2021-09-04 18:10] jino-shaji opened #314 "How can we get user input data from rendered form"
[code]

but, I don't know how you are getting user input data from rendered form

[2021-11-13 01:32] blockbaster opened #316 "Exist the event onOpenFieldEdit like at the Formbuilder?"
The FormBuilder has the events:

- onOpenFieldEdit ()
- onCloseFieldEdit ()

Does that also exist at Formeo?

[2021-11-15 17:06] blockbaster commented on #209
Has the event already been integrated?

[2022-02-28 04:26] #126 closed, assigned to nobody

[2022-05-19 02:37] uzegonemad opened #328 "Rudimentary React Example"
**(I am unable to offer any support for this.)** This is a simple example for adding formeo to React in 2022. This definitely doesn't cover all use cases but should be enough to get you started. If you use file inputs or buttons you'll probably need to modify/add to the `addEventListener`.

# I am unable to offer any support for this. Seriously, you are on your own.

ReactFormeo.js
[code]

Usage
[

[2022-09-28 12:50] aptvaltechtest opened #331 "For anybody struggling with names on radio buttons and checkboxes"
Just set the id and it copies over to the name at render

[2022-09-28 12:54] aptvaltechtest commented on #331
`                    {
                        tag: 'input',
                        config: {
                            label: 'Checkbox Group',
                            editorLabel: 'Checkbox Group',
                            disabledAttrs: ['name'],
                            lockedAttrs: ['name','required','className'],
                        },
                        meta: {